[2015-05-18 17:50] fthomas opened #2 "refineLit does not work with predicates that take an implicit shapeless.Witness.Aux[T]"
Using `MatchesRegex` works with `refine` but currently fails with `refineLit`. This test yields the compilation error given below:

[code]

[code]

The exception originates from this line in the `refineLitImpl` macro:
[code]

[2015-05-18 20:37] fthomas opened #3 "refineLit does not work with Greater on the first try"
This is a reproducible REPL session after running `sbt clean` and `sbt console`:
[code]

The exception does not happen on the second try. Seems to happen only with predicates that take `Nat`s.

[2015-05-19 19:40] fthomas commented on #2
This happens with all predicates that take an implicit `shapeless.Witness.Aux[T]`.

Calling `show` on a expression that should be evaluated yields:
[code]

[2015-05-20 19:34] fthomas opened #4 "Add complete example how to use the library"
I'd like to have a complete example that demonstrates how this library can or should be used. The example should be checked at build-time either as code in a separate example subproject or in a [tut](https://github.com/tpolecat/tut) file.

[2015-05-22 19:41] fthomas commented on #3
The stack trace looks similar to the stack trace in https://issues.scala-lang.org/browse/SI-9218

[2015-05-22 19:55] #3 closed

[2015-05-23 06:20] fthomas opened #5 "Do not use Scala's collection hierarchy for collection predicates"
The collection predicates currently work only with types that are subtypes of `TraversableOnce` but these should work with any `Foldable` type.

[2015-05-24 09:56] fthomas opened #6 "Add new collection predicates: Contains, Index, and Unique"
`Contains` is just a type alias (`Contains[A] = Exists[Equal[A]]`), `Index[N, P]` checks if the value at index `N` satisfies the predicate `P`, and `Unique` checks if all elements in a collection are unique.

[2015-05-24 12:36] jgpacker commented on #6
For ordered collections, we could also have a `Sorted[A]` predicate.
Thourhg I'm not sure how the user could choose between ascendent and descendent order.

[2015-05-24 18:21] fthomas commented on #6
Good idea, @jgpacker ! We could have `SortedAsc` and `SortedDesc` or provide an extra type for the sort order: `trait SortOrder; trait Ascending extends SortOrder; trait Descending extends SortOrder`. Another possibility is to have something like `SortedWith[P]` where `P` is some kind of binary predicate (which we don't have yet). For example: `SortedWith[GreaterEqual2]` where `GreaterEqual2` give

[2015-05-25 06:19] fthomas commented on #6
Another collection predicate: `IndexWhere[PA, PI]`. It could be used like this `IndexWhere[Digit, LessEqual[_2]]` which validates any collection of `Char` where one of the first three chars is a digit.

[2015-05-25 06:28] fthomas commented on #6
And `Head[P]`, `Last[P]`, `Tail[P]`, `Init[P]`, ...

[2015-05-25 12:20] fthomas commented on #2
I asked on SO for help: http://stackoverflow.com/questions/30436005/evaluating-an-expression-of-type-shapeless-witness-auxt-in-a-macro-fails

[2015-05-25 15:33] fthomas opened #7 "Test that isValid is consistent with validated"
For `Predicate`s that override `validated` we should ensure that `validated` is consistent with `isValid`.

[2015-05-25 16:41] #7 closed

[2015-05-28 18:13] #2 closed

[2015-05-29 11:41] fthomas opened #8 "Use extractSingletonValue for WeakWitness when updating to the next shapeless version"
See https://github.com/milessabin/shapeless/pull/394

[2015-05-29 16:08] fthomas opened #9 "Provide compile-time conversions for loosening constraints"
[code]
The last call should typecheck because we should be able to prove statically that anything that is `Greater[_6]` is also `Greater[_5]`.

[2015-05-30 12:46] fthomas opened #10 "Feature comparison with bond"
I'd like to make a feature comparison of [bond](https://github.com/fwbrasil/bond) and refined. Maybe @fwbrasil is interested in this too?

[2015-05-30 15:47] fwbrasil commented on #10
Sounds good. Let me know if you'd like a review when it's ready.

[2015-05-30 20:27] fthomas commented on #4
tut is up and running and there are already a few boring examples in the docs directory. Next step is to add some commentary.

[2015-05-31 04:46] fthomas commented on #9
This should also support conversions between different predicates: `Head[P]` -> `Exists[P]`

[2015-05-31 15:38] fthomas commented on #4
https://github.com/fthomas/refined/blob/master/docs/point.md is a fairly complete example

[2015-05-31 15:38] #4 closed

[2015-05-31 19:59] fthomas commented on #9
Started working on this here: https://github.com/fthomas/refined/compare/wip/inference

[2015-06-01 17:41] #9 closed

[2015-06-03 11:58] fthomas opened #12 "Add String predicates StartsWith/EndsWith and inference rules"

[2015-06-04 05:51] fthomas opened #13 "Avoid using WeakWitness"
In order to work around #2, `WeakWitness` was added. The underlying problem in #2 was that untypechecking and then typechecking a tree was not the identity. @milessabin [suggested](https://gitter.im/milessabin/shapeless?at=55697c468d1a52c22e86c0b1) building a fresh tree instead of reusing the original so that we can use `shapeless.Witness` instead of our `WeakWitness`:

I'll try this and post upda

[2015-06-04 17:52] #12 closed

[2015-06-06 04:30] fthomas opened #14 "Replace String with RefinementError as error type"
`refine` currently returns an `Either[String, A]`. `String` is an awful type for errors and should probably be replaced by a dedicated error type like `RefinementError`.

[code]

[2015-06-07 12:44] #8 closed

[2015-06-10 21:59] fthomas opened #15 "Add implicit version of refineLit?"
Adding an implicit version of `refineLit` like
[code]
allows this
[code]
I'm not sure yet if this implicit conversion should be added.

[2015-06-11 06:17] fthomas commented on #15
Bringing it in scope with an import would be nice.

[2015-06-12 12:02] fthomas opened #16 "Cross build to Scala.js"

[2015-06-12 13:28] granthenke opened #17 "Tut should not be a dependency of the released artifact"
https://repo1.maven.org/maven2/eu/timepit/refined_2.11/0.0.3/refined_2.11-0.0.3.pom

[code]

This may be related to https://github.com/tpolecat/tut/issues/36:

[2015-06-12 14:27] fthomas commented on #17
Good catch! I see what I can do about it.

[2015-06-13 01:12] fthomas commented on #17
This is a known problem: https://gitter.im/tpolecat/tut?at=557b43a8873bcf056fb4e9cb
To use refined right now, you need to add this resolver to your build:

    resolvers += "tpolecat" at "http://dl.bintray.com/tpolecat/maven"

I'll also change the refined build to a multi-project build (which is also required to support Scala.js) to fix this issue, but since I'm going on vacation tomorrow this wil

[2015-06-13 20:01] #15 closed

[2015-06-14 17:01] granthenke commented on #17
Thanks for looking into it. No hurry on my part, I just wanted to report it for future releases. I am using Gradle for my build and globally excluded tut as a transitive dependency:

[code]

[2015-06-14 17:40] #13 closed

[2015-06-20 11:10] fthomas commented on #16
I started working on this here: https://github.com/fthomas/refined/compare/wip/scala.js

[2015-06-20 17:13] #17 closed

[2015-06-20 20:35] fthomas commented on #17
@granthenke refined 0.1.0 has been released and it does depend on tut-core anymore. Thanks again for reporting this issue!

[2015-06-21 13:13] fthomas commented on #5
After giving this some more thought, I don't think that adding a new dependency just for this is worth it right now.

[2015-06-21 13:13] #5 closed

[2015-06-21 20:30] fthomas opened #19 "Show (or maybe test) that using refineLit has no runtime penalty"

[2015-06-25 17:45] fthomas opened #20 "Document how the library can be used for simple value-level validation"
... using Predicate[T, P].isValid

[2015-06-26 17:09] #16 closed

[2015-06-30 18:32] fthomas opened #21 "refining with type aliases does not work"
This REPL session should not produce errors:
[code]

[2015-07-01 16:47] fthomas commented on #21
It also doesn't work if `refineLit` is implemented without the intermediate `RefineLit` class:
[code]
But the error is now different:
[code]

[2015-07-01 20:18] fthomas opened #22 "Use sbt-doctest for code examples in Scaladoc"
70e795a is a first step to more documentation. But there should also be examples which are verified by sbt-doctest.

[2015-07-01 20:22] fthomas opened #23 "Add release step that updates the README before tagging"

[2015-07-02 23:04] #22 closed

[2015-07-06 20:48] #23 closed

[2015-07-06 21:07] fthomas opened #24 "Publishing signed artifacts is broken"
It seems that `releasePublishArtifactsAction := PgpKeys.publishSigned.value` currently has no effect.

[2015-07-07 22:37] #24 closed

[2015-07-09 17:50] fthomas commented on #21
It seems that I'm hitting https://issues.scala-lang.org/browse/SI-8740 here.

[2015-07-11 19:06] fthomas opened #25 "Do cool things with shapeless' LabelledGeneric"
This is a reminder for myself: https://gitter.im/milessabin/shapeless/archives/2015/07/11

[2015-07-12 09:08] fthomas opened #26 "Lift the "only literals" constraint when the predicate is constant"
[code]
The rhs is not required for evaluation of the predicate (because it is constant), so this refinement should be possible at compile-time. The same is true for `val x: List[Int] @@ Not[False] = List(1, 2, 3)`.

[2015-07-12 20:58] fthomas commented on #25
WIP branch is here: https://github.com/fthomas/refined/compare/wip/lgen

[2015-07-13 20:05] fthomas commented on #26
wow, much branch, very wip:

* https://github.com/fthomas/refined/tree/wip/isConstant
* https://github.com/fthomas/refined/tree/wip/predicate0
* https://github.com/fthomas/refined/tree/wip/ConstPredicate

[2015-07-14 05:02] fthomas opened #27 "Explore alternatives to @@"
The first option would be a value class `case class Refined[T, P](get: T) extends AnyVal` as suggested by @alexarchambault here https://gitter.im/fthomas/refined/archives/2015/07/13.

[2015-07-14 08:58] fthomas opened #28 "Set JVM/JS settings in the crossProject"
see https://gitter.im/scala-js/scala-js?at=55a4308f6f087e6752f9f3ad

[2015-07-14 16:53] #28 closed

[2015-07-14 18:58] fthomas commented on #21
It works with the recently added `Refined` value class:

[code]
\o/

[2015-07-14 19:09] fthomas opened #29 "Run tests for Scala.js"
They are currently disabled because ScalaCheck is a JVM-only dependency in `build.sbt`.

[2015-07-16 09:07] fthomas opened #30 "Ensure that "sbt test" does not fail"
... and use "test" instead of "refinedJVM/test;refinedJS/test" in the "validate" command alias.

[2015-07-16 09:53] fthomas opened #31 "Remove refine function from Predicate"
The purpose of  `Predicate` is to tell if a value conforms to type-level predicate. Refining the type is a separate concern.

[2015-07-17 06:13] fthomas opened #32 "Add section to README explaining the difference between refinements and refined"
see http://www.scala-lang.org/files/archive/spec/2.11/03-types.html#compound-types

[2015-07-17 14:04] #31 closed

[2015-07-17 16:15] #29 closed

[2015-07-17 17:03] fthomas commented on #30
I can't reproduce the failures with test that I had earlier.

[2015-07-17 17:03] #30 closed

[2015-07-18 06:17] fthomas commented on #26
Fixed by https://github.com/fthomas/refined/commit/a1859eeedc798de3111ad53fc0b719179e4ac93c.

[2015-07-18 06:17] #26 closed

[2015-07-18 06:28] #25 closed

[2015-07-20 08:43] fthomas opened #33 "Move tests from CharPredicateSpecJvm to CharPredicateSpec..."
... when https://github.com/scala-js/scala-js/pull/1802 is fixed and released.

[2015-07-20 10:59] fthomas opened #34 "Predicates for XPath and JSONPath strings"
This is just an idea. If someone else wants to implement this, feel free!

[2015-07-20 11:13] fthomas opened #35 "Add regex method?"
[code]

Usage could look like this:

[code]

The same could be done for URLs and URIs.

[2015-07-20 11:29] fthomas opened #36 "Predicates for BigInt and BigDecimal"

[2015-07-20 18:23] #35 closed

[2015-07-21 18:39] fthomas opened #37 "Release 0.2.0"
TODO:
- [x] close #21
- [x] write an example using a type alias and add link to the release notes
- [x] close #27
- [x] extend `fieldnames.md` with `ConstructorNames` examples and add link to the release notes
- [x] write example using the `util` functions and add link to the release notes
- [x] replace `refineLit` and `refine` in the `README.md`
- [x] document `Predicate.isConstant`
- [x] update

[2015-07-22 17:44] fthomas commented on #27
Fixed by ff96c457dda141e96ea4e8f6a20a489e5f461849 (the inclusion of `Refined`) and 029f5cf3d9862afa46ff3862ec23012303d11d8d (the addition of `refineV`, `refineMV`, `autoInferV`, and `autoRefineV`).

[2015-07-22 17:44] #27 closed

[2015-07-22 17:53] fthomas commented on #21
The current situation wrt to type aliases is documented here: https://github.com/fthomas/refined/blob/b1a64c3157b6e49467f1e4ed4fa5e6cd7f701b00/shared/src/test/scala/eu/timepit/refined/RefineSyntaxSpec.scala#L58-L75

If SI-8740 is going to be fixed, we'll notice by failing tests.

[2015-07-22 17:53] #21 closed

[2015-07-24 07:06] fthomas opened #38 "Add UUID predicate and util function"
similar to https://github.com/daandi/nice-uuid
/cc @daandi

[2015-07-24 12:35] #38 closed

[2015-07-24 21:17] fthomas opened #39 "Clean up "Uuid.validate failure" property"
... when https://github.com/scala-js/scala-js/pull/1823 is released.

[2015-07-25 06:21] fthomas commented on #10
@fwbrasil I finally came around to write something up: https://github.com/fthomas/refined/blob/master/docs/feature_comparison_bond.md
Please let me know if I missed any feature or if you think the comparison is unfair.

[2015-07-26 11:21] fthomas commented on #14
Even `RefinementError` is not good enough. Suppose we have a predicate `A And B`. How do I know if only `A` failed, only `B` failed or both failed? (Parsing the error message is of course not an option.)

[2015-07-27 15:00] fthomas commented on #37
0.2.0 has been released.

[2015-07-27 15:00] #37 closed

[2015-07-28 17:32] fthomas opened #40 "Missing newlines in Scaladoc examples"
The examples here http://fthomas.github.io/refined/latest/api/index.html#eu.timepit.refined.util.string$@regex%28s:shapeless.tag.@@[String,eu.timepit.refined.string.Regex]%29:scala.util.matching.Regex do not have any newlines although they are present in the source file (https://github.com/fthomas/refined/blob/master/shared/src/main/scala/eu/timepit/refined/util/string.scala#L15).

[2015-07-28 19:15] #40 closed

[2015-07-28 19:40] fthomas opened #41 "Various improvements"
* [ ] mention in README that there are also `refineMV` and `refineV`
* [x] remove deprecated `refine` and `refineLit`
* [ ] write design document that explains the decision that led to the current design
* [x] rename point.md to custom_predicates.md
* [x] rename utils.md to util_string.md
* [x] add section to README explaining `PostErasure*.scala`
* [x] mention `auto` earlier in the README
* [x] c

[2015-07-30 07:34] fthomas opened #42 "Check if autoRefineV and autoRefineT can be merged"

[2015-07-30 09:04] fthomas opened #43 "Let Travis publish snapshots to Sonatype"

[2015-07-30 14:44] #42 closed

[2015-07-30 15:54] fthomas commented on #34
An early draft for an `XPath` predicate is here: https://github.com/fthomas/refined/compare/topic/xpath

[2015-07-30 17:45] fthomas opened #44 "Add example with predicate and refineM in the same compilation unit"
see https://gitter.im/fthomas/refined/archives/2015/07/30

[2015-08-01 15:01] #34 closed

[2015-08-02 13:16] #19 closed

[2015-08-02 19:08] fthomas opened #46 "Clean up illTyped calls"
when https://github.com/milessabin/shapeless/pull/440 is released.

[2015-08-03 09:10] fthomas opened #47 "Redirect refined.timepit.eu to this project"

[2015-08-03 16:29] fthomas commented on #47
http://refined.timepit.eu/ now redirects here.

[2015-08-03 16:29] #47 closed

[2015-08-03 19:46] fthomas opened #48 "Add update method to Refined"
Something like this:
[code]

[2015-08-05 16:13] koshelev opened #49 "Show type class instance for Predicate"
Remove `Predicate.show` and use `Show` type class instead

[2015-08-05 16:34] fthomas commented on #14
I started working on this here: https://github.com/fthomas/refined/compare/wip/errors-as-data

[2015-08-05 16:46] fthomas commented on #49
Agreed. The string representation of a predicate should not be the concern of the `Predicate` type class.

[2015-08-06 17:19] fthomas commented on #43
This could be helpful: http://szimano.org/automatic-deployments-to-jfrog-oss-and-bintrayjcentermaven-central-via-travis-ci-from-sbt/

[2015-08-08 10:57] #10 closed

[2015-08-09 19:41] fthomas opened #52 "Make the Refined constructor private[refined]"
I'd like to make the constructor of `Refined` `private[refined]` to ensure that any `Refined[T, P]` values only contains `T`s that satisfy `P`. But doing so currently fails a tut example:

[code]

The reason for this is that the `autoRefineV` macro replaces `'a'` with `Refined('a')` in this example and thus calling the constructor outside of the `refined` package. Can this be done without more bla

[2015-08-10 11:23] fthomas commented on #52
One option is to add a (properly documented) public delegate for the private constructor with an ugly or scary name (e.g. `unsafeApply`) and use that in the macro implementation. This should ensure that nobody circumvents `refineV` and `refineMV` accidentally.

[2015-08-10 18:30] fthomas commented on #52
Here is a relevant SO question: http://stackoverflow.com/questions/19170137/using-private-constructor-in-a-macro

Using an ugly named delegate seems to be the only option.

[2015-08-13 19:20] #52 closed

[2015-08-14 21:37] fthomas commented on #43
WIP branch is here: https://github.com/fthomas/refined/compare/wip/publish-snapshots

[2015-08-15 05:40] fthomas commented on #48
A better name and signature would probably be:
[code]
because it `map`s the `T` and then refines the resulting `U`.

And it should also be provided for `@@` which hints at a type class that provides functions for refined values.

[2015-08-15 09:05] fthomas opened #53 "Support 3rd-party types for refinement results"
Currently shapeless' `@@` and refined's `Refined` are treated specially in the library because theses are the only types for which there are `refine` and `refineM` functions. But what if somebody wants to use `scalaz.@@` as a refinement result type? Currently one needs to write an instance of `internal.Wrapper` for it and add their own `refine` and `refineM` variants (which is unnecessary boilerpl

[2015-08-16 17:36] #48 closed

[2015-08-16 17:38] fthomas commented on #53
closed by b8785a5

[2015-08-16 17:38] #53 closed

[2015-08-20 12:46] erikerlandson opened #55 "RFE: implicit conversion from Refined values back to raw values"
Support implicit conversion from a Refined value to its raw value, as in:
 `implicit def toRaw[T, P](r: Refined[T, P]):T = r.get`

Mostly just a question of where best to define it, so it is easy to include.
REPL Example:

[code]

[2015-08-20 18:26] fthomas commented on #55
:+1:

I would put it into https://github.com/fthomas/refined/blob/master/shared/src/main/scala/eu/timepit/refined/implicits.scala, call it `autoUnwrap` and make it available for all `F[_, _]` with a `RefType` instance (similar to `autoInfer`).

[2015-08-21 19:56] #55 closed

[2015-08-23 08:37] #32 closed

[2015-08-26 17:39] fthomas opened #57 "Overwrite Refined's copy"
https://twitter.com/FouriersTrick/status/636539026208608257 and https://issues.scala-lang.org/browse/SI-7884

TL;DR case class copy method subverts the private constructor

REPL session:
[code]
:-(

Thanks @ceedubs for the PSA.

[2015-08-28 09:48] fthomas opened #58 "Add ScalaCheck support"
From the Gitter channel

Filtering an existing `Arbitrary[T]` with a `Predicate[P, T]` will discard too many values in most cases, so that is probably too simplistic. We should nevertheless check how to make working with refined and ScalaCheck nicer.

[2015-08-29 20:10] #33 closed

[2015-08-29 20:10] #39 closed

[2015-09-02 17:32] fthomas opened #59 "Add release dates to the release notes of all previous releases"

[2015-09-10 15:52] fthomas opened #60 "Try @non's tag type"
https://gist.github.com/non/596532cd8c25f333ffac

[2015-09-22 11:07] fthomas commented on #14
Current WIP branch is https://github.com/fthomas/refined/compare/wip/errors-as-data-4

[2015-09-28 06:41] fthomas opened #61 "Consider renaming implicits object to auto"
The implicits in `implicits` are intended for automatic conversions from base types to refined types or for automatic conversions between refined types. There are also more implicits in the library which are not in `implicits` and that are not used for automatic conversions (e.g. all the type class instances).

Observe also that all functions in `implicits` already begin with `auto`.

[2015-09-29 06:22] fthomas commented on #14
The -4 branch has been superseded by https://github.com/fthomas/refined/compare/wip/errors-as-data-5 which is pretty close to being merged to master. I'll open a PR once the last rough edges are gone.

Anyhow, the branch is stable enough to play around with the new representation of validation results. You could start playing by evaluating
[code]
which should return `Passed(Or(Passed(True()), Fail

[2015-10-04 11:10] #61 closed

[2015-10-06 08:26] julien-truffaut opened #63 "Can we refine Int to restrict to valid minutes, hours?"
Similar to `NonNegative Int` but for Int limited to `[0 .. 60]` or `[0 .. 24]`

I would like to use this new types to define lawful `Lens` on `Date` e.g.

[code]

[2015-10-06 12:18] fthomas commented on #63
We can refine `Int` with the `Interval` predicate to create types for hours, minutes, or seconds:
[code]

The interesting question is now how to construct a lawful `Lens[Date, Minute]`. I'll have a look at Monocle to see how far I can get.

[2015-10-06 12:24] fthomas opened #64 "Safe constructors for java.time types"
Provide safe versions of consturctors like [LocalDateTime.of](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html#of-int-java.time.Month-int-int-int-int-) similar to those in `util.string`.

[2015-10-06 12:57] julien-truffaut commented on #63
I think it should not be too difficult:

[code]

[2015-10-06 17:24] fthomas commented on #63
The ascription `: Minute` will invoke a macro that tries to check if the value of `getMinuteOfHour` is a valid `Minute`. Since that value is not available at compile-time, the macro will fail. It can only check literal values. But because we know that `getMinuteOfHour` will only return `Int`s that are valid `Minute`s, we can just wrap it in the `Refined` value class without validation.

Here is my

[2015-10-06 20:43] julien-truffaut commented on #63
right, make sense to use `unsafeApply`.

I am going to create a module in monocle to play with that :)

[2015-10-06 21:06] julien-truffaut commented on #63
@fthomas any idea why I am getting the following error:
[code]

I am using `"eu.timepit"      %% "refined"     % "0.2.3"`

[2015-10-07 04:25] fthomas commented on #63
`auto` is the new name of the recently deprecated `implicits` object and is only available in `master`. Sorry, I should have mentioned that. In the current stable version just do
[code]

[2015-10-07 05:13] fthomas commented on #58
https://github.com/julien-truffaut/Monocle/commit/7415e0791e30c7de3333c9810d4d56601158aa3b has a compelling use case. It contains
[code]

In this case refined should be able to provide a `Arbitrary[Minute]` automatically. This would also prevent the repetition of `0` and `59` (which are details of the `Minute` predicate) in the tests.

[2015-10-07 08:30] #59 closed

[2015-10-09 13:08] fthomas commented on #57
After pondering about this more, I came to the conclusion that I don't wont to fix this. SI-7884 is a scalac bug that needs to be addressed but I don't want a workaround for it in refined. It is just one of the escape hatches in Scala and if people want to workaround the guarantees refined provides they can always use `Refined.unsafeApply` or `asInstanceOf`. Making `copy` private pollutes refined

[2015-10-09 13:08] #57 closed

[2015-10-11 10:57] #64 closed

[2015-10-12 20:54] julien-truffaut opened #70 "Update Maven central badge to 0.3.0"
Btw, is there a release note?

[2015-10-12 20:56] julien-truffaut commented on #70
I am stupid, it will probably be updated automatically once it has been sync

[2015-10-12 20:56] #70 closed

[2015-10-12 20:59] fthomas commented on #70
It is annoying that syncing always takes a while... I always find it hard to announce hours after doing the release :)

Release notes are here https://github.com/fthomas/refined/blob/master/notes/0.3.0.markdown

[2015-10-13 19:20] fthomas commented on #49
I'd like to add that we can't use something like `cats.Show` here because it has only one type parameter (`Show[T] { def show(t: T): String }`) but what we need is a typeclass that can `show` a value of type `T` for some predicate `P`. So we need at least a `Show[T, P] { def show(t: T): String }`.

[2015-10-13 19:24] koshelev commented on #49
Is not it `T Refined P`? Or another class `F[T, P]` ?

[2015-10-13 19:39] fthomas commented on #49
Currently the `F` is not needed to show a `T` in the context of a predicate `P`. Would the string representation differ for different `F`s? For me, the `F` (which has a `RefType` instance) is just the carrier for the refinement, it is something that ties the `T` and `P` together with the additional meaning that the contained `T` is valid according to `P`. We also want to use `show` for values that

[2015-10-13 20:02] fthomas opened #71 "Add RefTypeLaws"
Add `RefTypeLaws` similarly to how laws are encoded in non/cats. There is at least one law that needs to hold for every `RefType`: `unwrap compose unsafeWrap == identity`

[2015-10-14 09:03] fthomas opened #72 "Scala 2.10 CI builds compile with 2.11 for the JVM"
see for example here https://travis-ci.org/fthomas/refined/jobs/85168034:
[code]

[2015-10-14 19:06] fthomas commented on #72
The `coverage` command from sbt-scoverage seems to reset `scalaVersion`:
[code]
This looks like a bug to me.

[2015-10-14 19:18] fthomas commented on #72
I've just tried sbt-scoverage 1.2.0:

[code]
So downgrading the plugin is an easy workaround for this issue.

[2015-10-15 05:43] fthomas commented on #72
Just confirmed that downgrading to 1.2.0 fixes this issue for me, https://travis-ci.org/fthomas/refined/jobs/85468538:
[code]

[2015-10-15 06:15] fthomas commented on #46
This requires shapeless > 2.2.5.

[2015-10-16 18:33] #72 closed

[2015-10-16 18:35] fthomas commented on #72
Note that this issue has been closed because sbt-scoverage was only downgraded to 1.2.0. It is still an issue with version 1.3.3.

[2015-10-16 20:24] fthomas commented on #58
#73 has been merged, so the next release will include a refined-scalacheck module with `Arbitrary` instances for some of our predicates.

[2015-10-16 20:24] #58 closed

[2015-10-17 10:55] fthomas opened #75 "Add error accumulating function to RefType"
Add a function to `RefType` that is similar to `refine` but instead of returning an `Either` it should return a type that can accumulate errors (something like [`cats.Validated`](http://non.github.io/cats//tut/validated.html)). bond has this as can be seen here: https://github.com/fthomas/refined/blob/v0.8.2/modules/docs/feature_comparison_bond.md#what-bond-has-but-refined-not

[2015-10-18 11:25] fthomas commented on #63
@julien-truffaut I think https://github.com/julien-truffaut/Monocle/compare/date nicely demonstrates that lenses and refined types can be combined in a useful way. Is there anything else from the refined side we need to explore or improve before we can declare victory? :-) If not I'd like to close this issue.

[2015-10-18 15:26] julien-truffaut commented on #63
No it is working very well and it was very easy to setup. Thanks.

[2015-10-18 15:26] #63 closed

[2015-10-19 19:08] fthomas opened #76 "Experiment with value classes of AnyVals as RefTypes"
As https://github.com/fthomas/refined/blob/master/core/shared/src/test/scala/eu/timepit/refined/examples/PostErasureAnyVal.scala demonstrates, refined primitives like `Int @@ Positive` or `Int Refined Positive` causes the `AnyVal` to be boxed although `Refined` is a value class. I think the reason for this is that `Refined`'s value is polymorphic. A quick experiment with a monomorphic version of `

[2015-10-22 18:18] fthomas opened #78 "Add refine function that takes a complete refined type as parameter"
When working with type aliases like ``type Minute = Int Refined Interval[W.`0`.T, W.`59`.T]`` it would be nice to have a refine function for refining runtime values that takes the refined type as parameter:
[code]
For literals a type ascription is enough right now, e.g.: `12: Minute`

If we have this, [type_aliases.md](https://github.com/fthomas/refined/blob/master/docs/type_aliases.md) should be

[2015-10-22 18:21] #41 closed

[2015-10-23 14:46] fthomas commented on #78
Something like this works:
[code]
Now the hard part: how to call it and where to put it.

[2015-10-24 07:13] fthomas commented on #78
I think I'm going to put it in the `RefType` companion. `refine` and `refineM` are in the `RefType` trait where the type parameter `F[_, _]` is already known. For the above function `F[_, _]` is given by the type parameter `FTP` so it makes sense to have it on the companion which is not related to any `F[_, _]`. Similar to `RefType.apply` it summons an instace based on the given type parameter.

[2015-10-24 08:06] fthomas commented on #78
WRT naming: I'm leaning to `applyRef` which is short for "apply this refinement to the given value". With the type parameter `FTP` one specifies the base type `T`, the predicate `P`, and the refinement carrier `F[_, _]`, so the complete refinement is given by this parameter.

[2015-10-25 07:35] #78 closed

[2015-10-27 07:43] fthomas opened #80 "Add type aliases for open and half-closed intervals?"
Currently `Interval[x, y]` represents the closed interval `[x, y]`. Do we want aliases for half-closed and open intervals: `[x, y)` `(x, y]`, `(x, y)`?

[2015-10-27 15:26] fthomas commented on #80
Possible names for those aliases are:
 * `IntervalCC` for `[]`
 * `IntervalCO` for `[)`
 * `IntervalOC` for `(]`
 * `IntervalOO` for `()`

Better suggestions are always welcome!

[2015-10-27 20:07] fthomas commented on #80
More name proposals:
 * `Interval` for `[]`
 * `RightOpenInterval` for `[)`
 * `LeftOpenInterval` for `(]`
 * `OpenInterval` for `()`

[2015-10-28 06:01] rueger commented on #80
You may have a look to Google Guava ranges https://code.google.com/p/guava-libraries/wiki/RangesExplained which have names like closedOpen(C, C) for [a..b)

[2015-10-28 06:45] fthomas commented on #80
Interesting, thanks! Those names combined with an additional namespace `object` look really nice:
[code]

[2015-10-30 18:36] fthomas commented on #49
Just a remark: `Show` would also be beneficial for aliases like `type GreaterEqual[N] = Not[Less[N]]`. The `Validate` instance for `GreaterEqual[N]` gets currently assembled from a `Validate` for `Not` and `Less` with an acceptable `validate` function and with a `show` function that produces strings like `"!(1 < 0)"` (which are technically correct but not very readable). It would be nice to provid

[2015-10-31 06:50] #80 closed

[2015-10-31 14:14] fthomas commented on #20
I don't think this is necessary anymore. Closing.

[2015-10-31 14:14] #20 closed

[2015-11-01 09:04] #44 closed

[2015-11-06 07:45] fthomas opened #85 "monocle + refined for bit indexing into primitives?"
@julien-truffaut mentioned on [Gitter](https://gitter.im/julien-truffaut/Monocle/archives/2015/11/04) an idea about using refined for a type class that provides a `def indexLens(i: I): Lens[S, A]` (where `I` is a refined type that is constrained by the bit length of `S`?) for bit indexing into primitive data types. I'd like to play with this idea and want to see how refined can be used here.

[2015-11-06 18:07] fthomas commented on #60
@non's tag type uses the same representation as `scalaz.@@` and since we have a `RefType` instance for `scalaz.@@` now (#84) I don't think this experiment is necessary anymore.

[2015-11-06 18:07] #60 closed

[2015-11-10 10:09] fthomas opened #88 "Add JsonPath predicate"
... using https://github.com/jayway/JsonPath to determine if a `String` is a valid JSON path or not. This should be similar to the `XPath` predicate.

[2015-11-11 07:39] fthomas opened #90 "Add refined-circe module"
We would like to add a module that provides [circe](https://github.com/travisbrown/circe) `Decoder` and `Encoder` instances for refined types.

This is probably similar to what [argonaut-shapeless](https://github.com/alexarchambault/argonaut-shapeless/blob/60aa4942ad0ebfb69a767aa0fce1d321905047cd/refined/src/main/scala/argonaut/RefinedInstances.scala) has.

[2015-11-11 10:41] fthomas opened #91 "Research integration for database libraries like slick and doobie"

[2015-11-11 11:22] fthomas commented on #91
see also https://gitter.im/fthomas/refined/archives/2015/11/11

[2015-11-11 15:18] fthomas commented on #90
I started working on this here: https://github.com/fthomas/refined/compare/topic/circe

[2015-11-11 19:24] fthomas commented on #90
It seems that support for refined will be added to circe: https://github.com/travisbrown/circe/issues/101 \o/

[2015-11-12 07:54] fthomas commented on #90
circe  0.3.0-SNAPSHOT has now a refined subproject! https://oss.sonatype.org/content/repositories/snapshots/io/circe/circe-refined_2.11/0.3.0-SNAPSHOT/

[2015-11-12 07:54] #90 closed

[2015-11-15 12:52] fthomas commented on #85
I've played a little bit with a `SafeAt` type class here: https://github.com/fthomas/refined/blob/a5be764ee04200cb8e1a01f7724a022f86d0559c/core/jvm/src/main/scala/eu/timepit/refined/SafeAt.scala

I think that comes pretty close to what @julien-truffaut had in mind.

[2015-11-15 13:46] julien-truffaut commented on #85
it is exactly what I had in mind! I am even surprise of the syntax, I was expecting some wrapper around the index but that's amazing we can use literals.

Where do you think this code should live? I am happy to create a refined module in monocle but you might prefer other options.

[2015-11-15 15:40] fthomas commented on #85
The index is actually wrapped into `Refined` but we don't see it because an `auto._` import brings in an implicit macro that converts the `Int` literals to ``Int Refined ZeroTo[W.`7`.T]`` or fails to compile.

I'd love to if this could live in monocle. I've no problem putting it in refined, but if I do it might be perceived that I'm the only one who thinks this stuff is useful. :smile:

[2015-11-17 07:29] fthomas commented on #85
PR in monocle: https://github.com/julien-truffaut/Monocle/pull/291

[2015-11-17 07:29] #85 closed

[2015-11-21 08:45] fthomas opened #95 "Explain what the refined-* subprojects provide"
The README.md should contain brief description of the different refined-* subprojects.

[2015-11-23 06:04] OlivierBlanvillain opened #96 "refined is not happly with Int to Double conversion"
Do you think the following should work:? (without -Ywarn-numeric-widen)

    scala> def f(d: Double @@ NonNegative) = ()
    f: (d: shapeless.tag.@@[Double,eu.timepit.refined.numeric.NonNegative])Unit

    scala> f(1)
    <console>:30: error: type mismatch;
     found   : Int(1)
     required: shapeless.tag.@@[Double,eu.timepit.refined.numeric.NonNegative]
        (which expands to)  Double with s

[2015-11-23 06:33] fthomas commented on #96
My first reaction is: Yes, it is probably a good thing that this does not compile. I could imagine that making the above to work could introduce weird behavior in other situations - although I do not yet know how to make it work.

I've to think about this a bit more.

[2015-11-23 08:39] OlivierBlanvillain commented on #96
I totally agree with you that it's sane no to get an error here, and since I've learned about `-Ywarn-numeric-widen` I never compile code without it (why is it off by default? Because Java?...). But for end users it might be confusing to be able to call `def f(d: Double): Unit` with an Int, but not `def g(d: Double @@ NonNegative): Unit`.

[2015-11-26 07:43] fthomas opened #97 "Use MiMa"
At some point we should integrate MiMa (https://github.com/typesafehub/migration-manager) into the build so we know when and how we break binary compatibility.

[2015-11-27 16:08] ngthanhtrung opened #98 "Generate utility method to construct refined-aware case classes automatically"
Hi,

It's convenience to have a utility method to construct case classes automatically. Those case classes will have some field types are refined- ones. Returning value will be an `Option` which resolves if validation passes.

In detail, it would be something like:

[code]

I wonder if it aligns with this project's roadmap. If yes, I'm happy to submit a pull request because I have a working versio

[2015-11-27 16:28] fthomas commented on #98
That sounds very interesting! A pull request is definitely welcome. :-)

[2015-11-27 16:33] meoguru commented on #98
Which name suits the best for the annotation? What about `Refinable`?

[2015-11-27 16:40] fthomas commented on #98
Sorry, I'm too exhausted right now to think about names. (I had a long day.)

[2015-11-27 16:42] meoguru commented on #98
OK. I'll work on the pull request first and we can sort it out later. Take care.

[2015-11-30 07:46] fthomas commented on #6
`SortedWith` as outlined in https://github.com/fthomas/refined/issues/6#issuecomment-105045917 is a misnomer. It should better be called `Pairwise[P]` since it checks if consecutive pairs of elements in a sequence satisfy the binary predicate `P`.

[2015-11-30 12:40] fthomas commented on #96
Numeric widening is specified in the Scala spec [§2.26.1](http://www.scala-lang.org/files/archive/spec/2.11/06-expressions.html#value-conversions) which says that those type conversions happen if there is a [weak conformance relationship](http://www.scala-lang.org/files/archive/spec/2.11/03-types.html#weak-conformance) between the involved types.

Maybe we could support this weak conformance by ad

[2015-12-01 19:07] fthomas opened #101 "Add special exception for RefinePartiallyApplied.force"
`RefinePartiallyApplied.force` currently throws an `IllegalArgumentException` if the argument does not conform to the predicate. We should probably introduce a special exception type (which can be a subtype of `IllegalArgumentException`) that also carries the result of `Validate.validate`.

[2015-12-12 12:45] fthomas opened #104 "Better error message when a value doesn't satisfy the predicate"
This tweet https://twitter.com/ppurang/status/674252856720031745 indicates that we could improve the error message when a value doesn't satisfy the predicate.

[2015-12-13 18:39] fthomas opened #105 "Documentation about the differences between @@ and Refined"
The library has first class support for `shapeless.tag.@@` and `Refined` as carrier for refinements and both types are used in tests and example. We should document the pros and cons of each type and give recommendation when to use which.

[2015-12-14 20:05] #95 closed

[2015-12-14 20:22] fthomas commented on #96
@OlivierBlanvillain I'm going to close this issue for the reasons outlined above and because supporting weak conformance would probably add some complexity to the library which I'd like to avoid in this stage of the library. I'm open to revisit this decision if someone shows me that this can easily done. :-)

[2015-12-14 20:22] #96 closed

[2015-12-14 21:01] fthomas commented on #101
BTW: a special exception for failed refinements can be observed in the wild: https://github.com/advancedtelematic/rvi_sota_server/blob/97d641d22a7d89ff4901040f6c35e560b6da1964/common/src/main/scala/org/genivi/sota/marshalling/RefinmentError.scala :-)

[2015-12-15 06:49] fthomas opened #107 "Support aliasing RefineM"
The `RefineM` macro can currently be invoked via the `refineM` functions (e.g. `refineMV[Positive](1)`) or via an implicit conversion which needs to be imported with `import auto._` (it then can be invoked with `1: (Int Refined Positive)`). It would be nice if users of refined could write their own aliases for `RefineM` with fixed types and without importing an implicit conversion. See https://git

[2015-12-15 08:45] OlivierBlanvillain commented on #96
Ok, thanks for investigating the issue!

[2015-12-15 15:36] wemrysi commented on #107
Nice! :+1:

[2015-12-16 07:49] #107 closed

[2015-12-18 20:35] fthomas commented on #75
https://meta.plasm.us/posts/2015/12/17/error-accumulating-decoders-in-circe/ might be interesting here.

[2015-12-20 16:08] fthomas opened #112 "Variant of refineMF that takes a complete refinement as parameter"
#108 introduced `refineMF` which allows to create an alias of the refine macro where all types are fixed.  One example of this macro in the tests contain a type alias for a refined type and a value of the same name which can be used as constructor for refined values:
[code]
Unfortunately, in the second line we have to repeat all details of the type alias in the first line. Ideally if we change the

[2015-12-21 21:11] fthomas commented on #112
We could do this with another method on `ApplyRefPartiallyApplied`:
[code]

[2015-12-22 18:39] fthomas commented on #112
The following would be even better:
[code]
where `RefineOps` would provide `refine` and `refineM` specialized to `Natural`.

[2015-12-23 16:42] fthomas commented on #91
As reminder for myself: @beefyhalo started working on a `doobie-refined` addon for doobie.

[2016-02-03 18:54] fthomas commented on #91
refined support for doobie: https://github.com/tpolecat/doobie/pull/265

[2016-02-25 18:20] #46 closed

[2016-03-19 16:44] #112 closed

[2016-03-23 21:37] fthomas commented on #104
I tend to change the error message from `Predicate failed: (4 > 6)` to something like `Predicate failed: (x > 6) where x = 4`. That should help to keep apart the predicate and the value that didn't satisfy it.

[2016-03-25 09:11] sh0hei commented on #6
Hi, @fthomas :)

I want to Implement `Unique` Predicate.
I want you to tell me Signature of `Unique` and Usage of `Unique`.

[2016-03-25 18:12] fthomas commented on #6
@sh0hei The idea of `Unique` is that it checks that a collection has no duplicated elements. It has no parameters, so would be defined as empty case class: `case class Unique()`.

Usage would look something like this:
[code]

[2016-03-26 13:17] sh0hei commented on #6
okay :)
I try it !

[2016-03-26 13:22] fthomas commented on #6
Awesome! :-)

[2016-04-01 05:43] fthomas commented on #105
Here is a short and incomplete list of differences:
* #21  and https://issues.scala-lang.org/browse/SI-8740
* https://github.com/travisbrown/circe/issues/220
* `T <: (T @@ P)`

[2016-04-05 19:17] fthomas commented on #76
I'm currently not too keen on introducing more `RefType`s. `@@` and `Refined` are already enough and ideally we would just support one of those.

[2016-04-05 19:17] #76 closed

[2016-04-07 03:54] sh0hei commented on #6
@fthomas Excuse me, I'd like also to know about Usage `Tail`, `Init`. I'll try to implement it.

[2016-04-07 18:08] fthomas commented on #6
@sh0hei `Tail` and `Init` would be similar to the already existing `Head` and `Last` predicates (see [collection.scala](https://github.com/fthomas/refined/blob/master/core/shared/src/main/scala/eu/timepit/refined/collection.scala)). They check if all but the first/last element of a sequence satisfy a given predicate.

[2016-04-10 15:20] fthomas commented on #36
Closing. These could still be useful but let's add them when they are requested.

[2016-04-16 13:55] fthomas commented on #6
Closing since most of the predicates in this ticket are now implemented.

[2016-04-16 13:55] #6 closed

[2016-04-21 06:28] fthomas commented on #97
#110 has been reverted due to nondeterministic build errors

[2016-04-25 20:53] #97 closed

[2016-05-08 16:10] dwijnand opened #161 "Allow for custom error messages"
It would be nice if it were possible to specify custom error messages, such as:

[code]

rather than

[code]

and

[code]

rather than

[code]

[2016-05-08 16:12] dwijnand opened #162 "Validate-based string interpolator"
I might be nice if Refined provided some macro-code functionality for a string interpolator, based on `Validate`.

[2016-05-08 18:18] fthomas opened #163 "Benchmarks for compile-time and runtime refinement"
At the Typelevel Summit in Oslo I was asked about the performance of compile-time and runtime refinements. It would be nice if we could reliably answer things like:
- How does using refined's macro affect compilation time?
- How is the performance of `Validate.isValid` compared to a simple value-level predicate?

[2016-05-11 09:56] aaronlevin commented on #163
@fthomas what's the preferred way to do benchmarks in scala? The latter benchmarks should be relatively straight forward. I'd be happy to work on a PR.

[2016-05-11 19:10] fthomas commented on #163
@aaronlevin That would be awesome! JMH (Java Microbenchmark Harness) via [sbt-jmh](https://github.com/ktoso/sbt-jmh) would be my tool of choice and I'd copy how circe is doing [its benchmarks](https://github.com/travisbrown/circe/blob/master/benchmark/src/main/scala/io/circe/benchmark/Benchmark.scala) (which are in a separate `benchmark` subproject).

[2016-05-13 19:59] fthomas opened #166 "Refine to Either[T Refined Not[P], T Refined P]"
At the Typelevel Summit in Oslo @non and @dwijnand asked/talked about refining values into a coproduct of a refined type and its "negation", e.g. something like `Either[T Refined Not[P], T Refined P]`. I like this idea and want to explore how this can be implemented and added to refined.

[2016-05-16 19:37] fthomas opened #168 "Study dwijnand/nonemptystring"
@dwijnand moved a custom smart constructor (+ macro) for non-empty strings to an implementation that is based on refined here: https://github.com/dwijnand/nonemptystring/commit/e1661a83acdbe53a2d79283d06d0a2bc046296e1. I would like to study this diff and see if we can improve refined for this use case.

[2016-05-16 20:40] fthomas opened #169 "Is RefType a Prism in disguise?"
The main operations of `RefType` are `unwrap` and `refine` if we ignore the unsafe operations and the macros. `unwrap` has type `F[T, P] => T` and `refine` has type `T => Either[String, F[T, P]]`. If we set `type S = F[T, P]` and ignore the error message in `Either`, we get this pair of functions:

[code]

This looks similar to a `Prism`. I'd like to study lens libraries and `Prism` in more detail

[2016-05-18 18:15] fthomas commented on #166
This is a simple and straightforward implementation:
[code]
Usage then looks like this:
[code]
This is only half of the story because it won't work with type aliases like `type PosInt = Int Refined Positive`.

[2016-05-18 19:39] fthomas commented on #163
I'll do the compile-time benchmarks with this [`compileTime`](https://github.com/milessabin/shapeless/pull/595) macro once refined is updated to a shapeless version that includes that macro.

[2016-05-20 19:55] fthomas commented on #169
So we can create a `Prism` from a refined type like this:
[code]

[code]

[2016-05-23 21:45] JohnReedLOL opened #173 "Why isn't there Equal and NotEqual numeric types?"
Equal numeric type...
[code]

Not equal numeric type...
[code]

[2016-05-24 05:16] fthomas commented on #173
@JohnReedLOL There is an [`Equal`](https://github.com/fthomas/refined/blob/10e7709d239b00001ed06961595a95405c03c770/core/shared/src/main/scala/eu/timepit/refined/generic.scala#L18) predicate in the `generic` module that also can be used for numeric types:
[code]
It is in `generic` because it can also be used for `String` and `Boolean`. Would you mind changing #174 to just a comment in `numeric.sca

[2016-05-24 05:56] JohnReedLOL commented on #173
Done. Thanks

[2016-05-24 17:16] fthomas commented on #173
"Fixed by" #174. Thanks again.

[2016-05-24 17:16] #173 closed

[2016-06-06 20:17] fthomas commented on #166
Btw, this reminds me of Idris' [`Dec`](http://www.idris-lang.org/docs/prelude_doc/docs/Prelude.Basics.html#Prelude.Basics.Dec).

[2016-07-01 12:19] fthomas opened #182 "Publish for 2.12.0-M5"

[2016-07-06 10:45] benhutchison opened #184 "Some form of über-import to access standard functions in single line"
Some people (myself among them) prefer the simplicity of a blanket import to enable standard functionality, along the lines of `import scalaz._; import Scalaz._`.

 As well as convenience and accessibility for newcomers ("just make it work"!), the other reason Ive come to appreciate them is I like to detect name clashes between libs I use early.

[2016-07-06 10:54] benhutchison opened #185 "Module for standard type aliases"
There are some very common refined types that it would be nice to give short, standardized names to.

`Int Refined Positive` and `Int Refined NonNegative` being two examples, which I found myself aliasing after using refined for about an hour.

Without standard names, different users will invariably choose different aliases to refer to the same refinement. Eg I chose `NatInt` and `Nat0Int` for the

[2016-07-06 19:20] fthomas opened #186 "Scala Exercises for refined"
Scala Exercises' lessons for refined would be cool, see see http://www.47deg.com/blog/scala-exercises-version-two#contribute-3

[2016-07-06 22:59] fthomas commented on #182
refined and refined-scalacheck for 2.12.0-M5 have been published from this branch: https://github.com/fthomas/refined/tree/topic/0.5.0-2.12.0-M5

[2016-07-06 22:59] #182 closed

[2016-07-11 20:07] soronpo opened #188 "Feature request: Add runtime exception check instead of error "compile-time refinement only works with literals""
Hi,
I'm posting this feature request after a small e-mail exchange with @fthomas

The code
[code]
currently results in _compile-time refinement only works with literals_ error.

I suggest that instead this will result in a runtime check, meaning four possible cases:

1. **Compile time check pass for literal (no runtime check required)**
[code]
  Prints outs:
  1

2. **Compile time check fail for l

[2016-07-11 22:45] jvliwanag commented on #188
But the point of `refineMV`, and in fact, `refined` as a library is that it should guarantee at __compile__ time that the values at play are guaranteed to follow the specified constraints. That is, they won't blow up possibly resulting in an exception.

For values that you get at runtime and you'd want to check if it follows the specified constraints, you'd want to use `refineV` instead which retu

[2016-07-12 14:40] fthomas commented on #188
my tl;dr:
* This is an interesting idea because it is a safer variant of [`unsafeFrom`](https://github.com/fthomas/refined/blob/e32047bb5a0c12d162d592e533a6089e129f6baf/core/shared/src/main/scala/eu/timepit/refined/internal/RefinePartiallyApplied.scala#L21).
* We should not change the semantics of `refineMV`.
* By default all functions in refined should be referentially transparent and total (not

[2016-07-12 21:29] soronpo commented on #188
Sounds reasonable. Just be sure that if passed compiler check, then runtime check would not run.

[2016-07-14 14:11] fthomas opened #189 "RefTypeOps dealiases refined types"
[code]
`res1` should have type `Either[String, PosInt]`.

[2016-07-14 14:20] fthomas commented on #189
Actually we can't do anything about this because `mapRefine` allows to change the base type:
[code]

[2016-07-14 14:20] #189 closed

[2016-07-18 20:46] fthomas commented on #112
I've just pushed a preliminary `RefineOps` to the https://github.com/fthomas/refined/compare/topic/refineops3 branch which allows to do this:
[code]
The idea is that this also deprecates
`RefType.applyRef[Natural](x)` in favor of
`RefineOps[Natural].refine(x)`.

[2016-09-27 07:28] fthomas opened #202 "Check if refined works with Typelevel Scala as-is"
We should check if refined works with the Typelevel compiler with `-Yliteral-types` as-is or if it needs any modifications.

/cc @adelbertc

[2016-09-27 13:28] fthomas commented on #202
I just tried TLS with `-Yliteral-types` here https://github.com/fthomas/refined-sjs-example/tree/topic/literal-types and it works with the latest release (that is 0.5.0) as-is. Nice! :-)

[2016-09-27 13:28] #202 closed

[2016-10-19 08:11] clhodapp opened #207 "Core depends on scala-compiler"
The stuff in `generic` is cool. Like super-cool. However, a great deal of the time, you don't need the tremendous power that it provides for defining arbitrary tests. When this is the case, it's really a drag that pulling in refined pulls in `scala-compiler.jar`, as `scala-compiler.jar` is _huge_ (like 15mb). I know it's really a hassle to split projects up into modules, but it would really be gre

[2016-10-19 08:15] clhodapp commented on #207
Note that it should be possible to work around this by adding an `exclude` for `scala-compiler` in subprojects, but running an application without some of the classes on the classpath that were there while parts of it were typechecked kind of undermines type safety (and creates a set of APIs that you have to "know" you can't call, lest you get a runtime failure).

[2016-10-20 21:07] fthomas commented on #207
If the dependency on `scala-compiler` can be easily moved into a separate project, let's do this. On top of my head I don't know what is pulling this dependency in, so I'll have to check that first.

[2016-10-22 22:02] fthomas commented on #207
I traced the addition of the `scala-compiler` dependency back to this *very* early commit https://github.com/fthomas/refined/commit/0cae9c03878773849d6d0b3e1772c00fac7799da which introduced the first macro code into the project. It seems that macros only need a dependency on `scala-reflect` - I need to check if this is sufficient.

[2016-10-22 22:30] fthomas commented on #207
First experiments suggest that `scala-reflect` is fine for everything except the implementation of the `generic.Eval` predicate.

[2016-10-25 00:40] clhodapp commented on #207
I believe that this is true. However, you may want to move all of `generic` over in order to retain source compatibility for dependent projects (modulo requiring them to include an extra module for `generic`). The drawback to that would be that it would bring in `scala-compiler` if people are using e.g. `generic.Subtype`.

[2016-10-31 10:08] golem131 opened #214 "Build with Scala 2.12.0"

[2016-10-31 18:58] fthomas commented on #214
Started working on this here: https://github.com/fthomas/refined/compare/topic/2.12.0-final

I guess not all dependencies are available for 2.12.0 yet, so the build will probably fail.

[2016-10-31 19:28] fthomas commented on #214
Missing dependencies for 2.12.0:

- [ ] WartRemover: https://github.com/puffnfresh/wartremover/issues/278
- [ ] ScalaCheck: https://github.com/rickynils/scalacheck/issues/291
- [ ] shapeless
- [ ] Macro Paradise
- [ ] macro-compat

[2016-11-02 04:50] xeno-by commented on #214
https://oss.sonatype.org/content/repositories/releases/org/scalamacros/paradise_2.12.0/

[2016-11-02 05:01] fthomas commented on #214
Thanks @xeno-by!

[2016-11-02 09:21] xuwei-k commented on #214
https://oss.sonatype.org/content/repositories/releases/org/typelevel/macro-compat_2.12/1.1.1/

[2016-11-02 13:02] cvogt opened #217 "Add operations on refined typed"
Would be great to have a subset of the same operations available on unconstrained typed also available on refined types but tracking properties across operations. Even a small subset would probably already be a big win. I am thinking things like:

[code]

Are there any operations like this already? If not, adding a few to open the door for contributions in the same style might be a good way to get

[2016-11-02 13:09] cvogt opened #218 "seemless integration with unconstrained types"
Has it been considered to have an implicit conversion from `Refined[A,_]` to `A`?

Large parts of our programs will still be using unconstrained types and seemless integration (at least one way) may improve usability of this library.

( related to https://github.com/fthomas/refined/issues/217 )

[2016-11-02 13:18] fthomas commented on #218
@cvogt There is [`autoUnwrap`](https://github.com/fthomas/refined/blob/f68a5e551e1993cb3001fd2960b84c08d77bebb0/core/shared/src/main/scala/eu/timepit/refined/auto.scala#L35-L44):
[code]
Which can implicitly convert a `Refined[A, _]` to `A`. Is this sufficient?

[2016-11-02 13:19] cvogt opened #219 "Use value-level terminology on type-level"
I think it would be great if we could use the same language at the type-level like at the value level. At least as close as possible. E.g.

Instead of
[code]

[code]

This is syntactically possible, see e.g. https://github.com/cvogt/scala-extensions/blob/master/src/test/scala/constraint/boolean.scala

The question is what the best implementation for this would be in refined. I think concerns would

[2016-11-02 13:26] cvogt opened #220 "replace or alias `.get` with `.value`"
The benefit of a type-system is that the compiler catches your mistakes. Since `.get` is unsafe on `Option[...]` the compiler would not catch mistakenly calling `.get` on what one assumes to be a `Refined` type but actually is an `Option[...]`. Both have the method, but Option can crash.

So maybe there is a case to be made for not calling the accessor `.get` but instead e.g. `.value` as evangeliz

[2016-11-02 13:29] cvogt commented on #218
Ah yeah, that's it, thx :).

[2016-11-02 13:46] dwijnand commented on #220
:+1: I've changed Some so that it's value is accessible via `value` too.

[2016-11-02 13:51] fthomas commented on #220
Agreed. I regret calling the safe accessor `.get`. More so since `Some` got `.value`.

[2016-11-02 13:53] dwijnand commented on #219
1. Type aliases are problematic, see #105
2. You can't extend value classes
3. Probably means duplication and possibly unification problems, but I'm not sure.

[2016-11-02 13:55] dwijnand commented on #217
:+1: As always, a typeclass-based approach would be the best approach.

[2016-11-02 15:38] fthomas commented on #214
refined 0.6.0 is now available for 2.12.0: https://oss.sonatype.org/content/repositories/releases/eu/timepit/refined_2.12/

It was published from this branch: https://github.com/fthomas/refined/tree/topic/0.6.0-2.12.0

[2016-11-02 15:38] #214 closed

[2016-11-02 20:56] fthomas commented on #217
:+1: Operations like these are not in the library yet, but they would be a welcome addition. It was brought up before on Gitter by @howyp who also started working on this - unfortunately I had not yet time look at it in detail. :-(

[2016-11-03 00:47] lastland commented on #219
I'm definitely in favor of a simpler type level declaration, but wouldn't using the same symbols at both type level and value level kind of confusing? For example:
[code]

[2016-11-04 16:36] soronpo commented on #217
I'm not sure a `constrained + unconstrained` should gives us a `constrained` type.
Perhaps you mean `constrained + literal` ?

[2016-11-04 16:41] howyp commented on #217
I agree this would be a great thing to have. I've done some of the ground-work for it, I'll see if I can get a PR raised (even if it's just for review rather than expecting a merge) in the next week or so.

[2016-11-04 19:41] cvogt commented on #217
@soronpo How about `somethingWithKnownProperties + somethingElseWithKnownProperties` should give `somethingWithWhateverPropertiesWeCanDerive`. Literals have known properties, refined types have known properties, any number type than Long also has some known limited ranges we know. We obviously do not have to aim for completeness right away.

@howyp sounds great :)!

[2016-11-04 19:48] dwijnand commented on #217
IIRC there are issues here, for instance numerical types wrap from positive to negative (and/or vice versa).

[2016-11-04 19:52] cvogt commented on #217
I don't know refined well at all. Obviously we can only derive properties that can be represented in refined.

[2016-11-04 20:12] dwijnand commented on #217
eg.

[code]

[2016-12-03 20:34] #218 closed

[2016-12-11 14:47] #220 closed

[2016-12-11 17:20] cvogt commented on #220
nice :)!

[2016-12-14 03:14] andyscott commented on #186
This would be a very welcomed addition to Scala Exercises!

[2016-12-14 03:34] Atry opened #231 "Scalac crashes if a Validate.Plain requires an implicit TypeTag"
[code]

[code]

[2016-12-15 20:23] fthomas commented on #231
Interesting. :-) I guess it does not depend on the supplied type parameter to `CrashOnTypeTag`? Do you have a specific use case in mind for a `Validate` instance that takes a `TypeTag`?

[2016-12-16 01:18] Atry commented on #231
The type parameter matters. `String @@ CrashOnTypeTag[Int => String]` crashes while `String @@ CrashOnTypeTag[String]` does not crash.

[2016-12-24 05:45] fthomas commented on #207
I'd rather break source compatibility for projects using `generic.Eval` instead of requiring `scala-compiler` for using `generic.Equal`. I suspect the former is much less used than the latter.

[2016-12-24 14:13] #185 closed

[2016-12-25 22:36] fthomas commented on #207
I did some further experiments and removed everything related to `Eval` from core and replaced the dependency on `scala-compiler` with `scala-reflect`. This compiles just fine but if I try to run the tests which invokes refined's macros, I get the following errors:
[code]

Other projects that has macros (like shapeless, circe, and Monocle) each have a "provided" dependency on the compiler:
[code]

[2016-12-25 22:57] soronpo opened #239 "Implicit conversion for libraries dependent on refined (seperating `auto` to trait and object)"
Problem:
Libraries which depend on refined types currently force the user to call `import eu.timepit.refined.auto._` to allow standard type variables (literals) to be implicitly converted into their refined types.

Example:
[code]
`libFunc(1)` fails without the import

Solution (as discussed in [gitter](https://gitter.im/fthomas/refined?at=586044c2058ca967378ed2af)):
Split refined's `auto` into tr

[2016-12-26 09:21] fthomas commented on #162
If we're going this route, I'm sure we can borrow some ideas from @propensive's [contextual](https://github.com/propensive/contextual).

[2016-12-26 19:18] fthomas commented on #239
Splitting `auto` in a trait and an object is a low-impact change, so we can certainly do this. What I also like to explore is to mix `auto` into the companion of `Refined` so that the conversions `T => Refined[T, P]` and `Refined[T, P] => T` are in the implicit scope of every refined type so that users of the library do not need to mix `auto` into the companion of their predicates.

[2016-12-26 22:36] soronpo commented on #239
Hmm... What are the cons? Is there a use case where the user will be surprised a conversion happened without an import?

[2016-12-28 21:16] fthomas commented on #184
I think it would make sense if the über-import would include everything in the `refined` package object, all predicates (that is `boolean._` , `char._`, `collection._`, `generic._`, `numeric._`, and `string._`), `auto._`, `types.all._`, and `api.Refined`. This should include everything that is needed for "normal" usage of the library. Everything else is only needed if one wants to extend the libra

[2016-12-28 22:38] soronpo commented on #184
Maybe it can be divided into severl über-imports, classified according to use.

- Normal usage (`import refined.normal`) - What is stated above.
- Advanced usage (`import refined. advanced`) - Normal + predicate extenders
- Others... I don't know all the use cases, but I believe you can narrow them down.

[2016-12-29 06:07] fthomas commented on #239
Let's collect the pros and cons here.

pros:
1. Convenient, things "just work" with minimal imports.
1. Using custom predicates does not require any `eu.timepit.refined`
  import or mixing `auto` into their companions.

cons:
1. Implicit conversions can be confusing or unwanted. Suppose you
  want to change a whole API from using `Int` to `PosInt`. If there
  is no implicit `PosInt => Int` in scop

[2016-12-29 09:26] soronpo commented on #239
It is possible to create an `AutoRefined` and have both `Refined` and `AutoRefined` available for use. The supplied refined types like `PosInt` will be `Int AutoRefined Positive`. If someone does not want the implicit then they will declare their own `type MyPosInt = Int Refined Positive`.

[2017-01-01 16:44] fthomas commented on #239
It would be nice to resolve this without growing the user-facing API.

[2017-01-01 16:59] soronpo commented on #239
The best for **me** is if I don't have an imported macro to my library (when my library extends `auto`), because this limits me if my library uses it directly, and then I have to separate parts of my library.
I don't mind `Refined` to include `auto`. I also don't mind having a separate `RefinedAuto`, but I understand why you wouldn't want to grow the API.

[2017-01-01 17:10] fthomas commented on #239
What do you think about only adding `T => T Refined P` to the `Refined` companion? This way we would only have implicit conversions that provide more type safety without imports.

[2017-01-01 17:27] soronpo commented on #239
Makes sense

[2017-01-01 17:37] soronpo commented on #239
I'll also elaborate why:
My use case is that the user is feeding values to my library and I want these values to be refined. When I give values back to the user, they are not required to be refined. So implicitly converting only refine-able values to `refined` values makes sense. Therefore a user of my library is not required to know how to translate a literal `Int` to `PosInt`, and if I return va

[2017-01-01 17:46] soronpo commented on #239
Another though I just had on the matter. While making this change, maybe you can add support for #161 using literal string type.
E.g: `type PosInt = Int Refined["Expecting positive number"] Positive`

[2017-01-01 21:27] fthomas opened #244 "Add Cogen instance for any refined type to refined-scalacheck"
as noted in https://github.com/julien-truffaut/Monocle/pull/480#discussion_r94241192

[2017-01-03 13:28] julien-truffaut commented on #169
I think `RefType` is not always a `Prism` because it doesn't require `f: T => Either[String, F[T, P]]` to be injective on success. See https://github.com/julien-truffaut/Monocle/blob/master/core/shared/src/main/scala/monocle/law/PrismLaws.scala#L16-L17

[2017-01-04 20:33] fthomas commented on #169
@julien-truffaut Do you have a specific predicate in mind for which this law does not hold? I couldn't come up with a refined derived prism that violates that law.

[2017-01-04 20:57] julien-truffaut commented on #169
Sure, in general `String` provides a lot of examples:
[code]

[2017-01-04 21:18] fthomas commented on #169
Aha. But refined's `Xml` predicate does not change a `String` to a `scala.xml.Elem`. It merely tags the source `String` without modifying it:
[code]

`scala.xml.XML.loadString` is used in the `Validate[String, Xml]` instance only for checking that the source string is valid XML.

[2017-01-04 21:43] julien-truffaut commented on #169
You're completely right. Forget what I said, we should be able to create a `Prism` for all refined type

[2017-01-05 05:13] fthomas commented on #244
I think the package object `eu.timepit.refined.scalacheck` would be a good place for this instance.

[2017-01-10 07:33] #244 closed

[2017-01-10 11:15] clhodapp commented on #207
I think what you actually have with macros is (at worst) a compile-time-only dependency on the compiler and reflect, but sbt doesn't model that particularly well, hence the use of `provided` in those projects.

[2017-01-21 19:41] #207 closed

[2017-01-27 18:59] ngbinh opened #256 "typechecker.Conexts not found when upgrading from 0.6.2 -> 0.7.0"
Not sure if anyone like me but I get this error when upgrading `refined` from `0.6.2` to `0.7.0`.

[code]

[2017-01-27 19:09] fthomas commented on #256
Oh dear! This is probably caused by #251. Are you using the `Eval` predicate?

[2017-01-27 21:33] fthomas commented on #256
I can reproduce this in one of my projects. The strange thing is that it only happens on the first `compile` after starting sbt. Compilation succeeds without errors or warnings on subsequent `compile`s. This is independent of the Scala version (tested with 2.11.8 and 2.12.1) - they only differ in the error message. I get
[code]
on 2.11.8.

[2017-01-28 07:52] ngbinh commented on #256
We are using a lot of `Regex` but no `Eval` I believe. It happens on scala `2.12.1` for us

[2017-01-28 07:55] ngbinh commented on #256
...and it happens to us consistently

[2017-01-28 14:29] fthomas commented on #256
I currently have no idea how to fix this other than reverting #251. @clhodapp, do you have any ideas?

[2017-01-28 17:29] clhodapp commented on #256
Yikes! Let's try to gather a bit more detail about what everyone's dependency topologies look like and/or get an open source reproduction.

[2017-01-28 17:59] fthomas commented on #256
Here is a reproduction: https://github.com/fthomas/scala-web-stack/pull/4

[2017-01-28 20:20] clhodapp commented on #256
Currently, I am thinking that the problem is the use of `eval` in https://github.com/fthomas/refined/blob/master/modules/core/shared/src/main/scala/eu/timepit/refined/macros/RefineMacro.scala. I think that using `Context#eval` in a macro actually creates a compile-time dependency on scala-compiler.

Interestingly, refined's tests pass due to the line, https://github.com/fthomas/refined/blob/c734e3

[2017-01-28 21:00] clhodapp commented on #256
Oh, I do suppose that if you don't object we _could_ also just add "Put `"org.scala-lang" % "scala-compiler" % scalaVersion.value % Provided` into your `build.sbt`" to the README and call it a day if you are OK with that.

[2017-01-28 21:14] fthomas commented on #256
Thanks for the analysis, @clhodapp. It would be great if we could rewrite the macro to not use `eval` since that has already troubled me in the past (#3). Currently it is used to have the `Validate` and `RefType` type class instances available during macro expansion so that we can check if a literal conforms to some predicate. If there is a way to avoid `eval` there, I'm all ears!

[2017-01-29 00:12] ngbinh commented on #256
Awesome. I will try the work around

[2017-02-05 09:32] fthomas commented on #256
I've amended the README and put `"org.scala-lang" % "scala-compiler" % scalaVersion.value % Provided,` to the `libraryDependencies` required for using refined. I consider this a temporary workaround until:
1. we have rewritten the macros to not use `eval` or
1. added back `scala-compiler` as runtime dependency.

[2017-02-05 13:29] ngbinh commented on #256
confirmed that adding `scala-compiler` solves the problem. I think we can close this issue now.

[2017-02-05 13:29] #256 closed

[2017-02-05 14:27] soronpo commented on #219
Since [singleton-ops](https://github.com/fthomas/singleton-ops) uses same type aliases, and there are use-cases to use both libraries together, I'm not in favor of this suggestion. At least not as part of the default of `refined` import statement.
Maybe something like `import refined.standard_symbol_aliased._` will be OK.

[2017-02-05 17:54] cvogt commented on #219
At the risk of overgeneralizing, I am under the impression some people like using different terminology for the same things in a different context and this might apply here. Here the contexts are value level expressions vs type level constraints.

Other examples where I have seen this are: Writing html templates? Let's name all the same things differently than in ordinary code. Writing type-level

[2017-02-28 00:31] tpolecat opened #260 "nondeterministic compiler crash ¯\_(ツ)_/¯"
I saw this on Travis, compiling doobie at commit b2f02078d0162827b93a1d3408c2a9950ce477d4 under ++2.11.8. I restarted the build and it worked fine, so it's nondeterministic. I'm offering this on the chance that you will find it useful, but I don't expect a fix so feel free to close.

[code]

And again nearby.

[code]

[2017-02-28 08:55] fthomas commented on #260
Oh dear! I haven't seen this one yet. Stack traces I've seen so far are https://github.com/fthomas/refined/issues/3 and https://github.com/scalacenter/scalafix/issues/47.

[2017-03-08 23:15] ronanM opened #265 "Numeric: Odd, Even, Modulo & Prime"
Add numeric refinement for `Odd`, `Even`, `Modulo` & `Prime`.

[2017-03-15 04:42] fthomas commented on #231
That is strange. #266 shows that `CrashOnTypeTag[String]` also crashes with Scala 2.12. I also tested 2.11 locally and got the same result.

[2017-03-17 05:15] fthomas commented on #260
@tpolecat I've just released refined 0.8.0 which contains a potential fix for these compiler crashes. If you see them again after the upgrade, please reopen this issue.

[2017-03-17 05:16] tpolecat commented on #260
Will do, still seeing it with 0.7. I'll let you know. Thanks!

[2017-03-21 04:19] tpolecat commented on #260
Sadly this is still happening. Only in 2.11, if that helps. It always compiles ok in 2.10 and 2.12.

[2017-03-23 14:27] sh0hei commented on #265
I will implement this 👍

[2017-03-28 23:59] AndreasKostler commented on #188
@fthomas Any updates on this?

[2017-03-29 08:11] fthomas commented on #188
@AndreasKostler Currently I've little time to work on this. But in principle I'm still okay with changing `unsafeFrom` as outlined in https://github.com/fthomas/refined/issues/188#issuecomment-232068707. The only downside of this approach I'm aware of, is that `unsafeFrom`  can't be eta expanded (i.e. `unsafeFrom _`) since it would be a macro. Macros in general can't be eta expanded.

[2017-04-03 12:28] felher opened #271 "ClassCastException when using refined with shapeless tags"
Hello folks,

I have a weird interaction between type tags from shapeless and refined types, leading to a class cast exception at runtime. I got the problem down to a few lines of code and put them in the following scastie: http://scastie.org/30039 . The list-wrapping seems to be needed to provoke the CCE.

Maybe I'm just doing something wrong with the tagged types or with refined. If so, please c

[2017-04-10 06:59] fthomas commented on #265
Interest for `Odd` has been expressed on Gitter, so these predicates would be a welcome addition.

[2017-04-11 16:20] tscholak opened #272 "please update pureconfig to 0.7.0"
pureconfig 0.7.0 has been released. please use it.

[2017-04-11 19:58] #272 closed

[2017-04-11 20:05] fthomas commented on #272
@tscholak I'll try to publish a new version later this week or next week.

[2017-04-19 21:13] fthomas commented on #21
SI-8740 is now https://github.com/scala/bug/issues/8740

[2017-04-24 21:01] #265 closed

[2017-04-27 20:22] fthomas commented on #271
Thanks for the report! Your example looks perfectly fine to me. I guess value classes (what `Refined` is) and shapeless-style tags do not work very well together. https://github.com/milessabin/shapeless/issues/644 seems to be related.

[2017-06-04 22:09] fthomas opened #292 "Frequent CI errors with Scala 2.10"
The Scala 2.10 CI build often fails with the following exception:
[code]

[2017-06-13 19:13] fthomas opened #294 "Add more PortNumber types"
#249 added the `PortNumber` type for `Int`s in the range from 0 to 65535. Recently several talks / blog posts demoed a type for non-system ports (1024 to 65535):

* https://underscore.io/blog/posts/2017/03/07/refined-data-config-database.html
* https://vlovgr.github.io/refined-types/#16
* http://leifwickland.github.io/presentations/configBomb/#66

So I think it makes sense to add at least a `NonSy

[2017-06-13 19:27] fthomas opened #295 "The autoRefine macro crashes in the 2.10 REPL"
Reported by @vlovgr here: https://gitter.im/fthomas/refined?at=593afdcb7503e2b70629858d

For example
[code]
can be reproduced in the 2.10 REPL:
[code]

[2017-06-15 08:07] sobacode opened #296 "UUID predicate does not work in some cases"
It's probably a bug in Java 8 :(

Example:
[code]

[2017-06-19 01:54] fthomas commented on #296
The reason for this is that
[code]
does not throw. In general `fromString` is very liberal in what it accepts:
[code]
I think we can fix this by requiring that `UUID.fromString(s).toString == s`.

[2017-06-25 20:23] fthomas commented on #296
Help with this issue would be appreciated! It only needs changing the [`Validate` instance for `Uuid`](https://github.com/fthomas/refined/blob/v0.8.2/modules/core/shared/src/main/scala/eu/timepit/refined/string.scala#L72).

[2017-06-25 21:43] fthomas commented on #292
Since WartRemover appears in the stack trace, I'll experimenting with removing it.

[2017-06-26 00:44] xuwei-k commented on #292
Maybe https://github.com/wartremover/wartremover/issues/74 😕

[2017-06-26 01:25] fthomas commented on #292
Thanks @xuwei-k, that seems to be the root cause.

[2017-06-26 01:26] #292 closed

[2017-06-26 09:01] fan-yu-ishikawa commented on #296
I think we need to throw an exception if we continue to use `Validate#fromPartial`.

examples:
[code]
[code]

[2017-06-26 09:02] sobacode commented on #296
I think we need to throw an exception if we continue to use `Validate#fromPartial`.

examples:
[code]
[code]

[2017-06-26 19:49] #296 closed

[2017-06-27 09:26] ysusuk commented on #75
hi @fthomas, i'll be glad to work on this issue) can you give me some hints on where to start?

[2017-06-29 13:20] ysusuk commented on #75
hi @fthomas
did you mean as well to create another `RefinePartiallyApplie` in cats package, that will return ValidatedNel instead of Either?

[2017-06-30 09:58] ysusuk commented on #188
Hi guys,
i know you had this discussion, but it will be really cool to have a functionality that do a compile time check and fails back to runtime if compile time failed! Here is my example:

[code]
sometimes i do have `bucketName` as literal but sometimes i want to get it from config. And i want still to use `Refined` type in method signature, since it clearly describes the requirements to the `b

[2017-06-30 11:27] soronpo commented on #188
@ysusuk I created a solution using the singleton-ops library, which is called `TwoFace` and `Checked` values. You can read about it in the following link:
https://contributors.scala-lang.org/t/twoface-values-closing-the-gap-between-run-compile-time-functionality/869

[2017-06-30 13:43] fthomas commented on #188
@ysusuk If we change `unsafeFrom` as outlined in https://github.com/fthomas/refined/issues/188#issuecomment-232068707, you could invoke `createBucketT` with `createBucketT(unsafeFrom(x))` where `x` is of type `String` and it would perform a compile-time check if `x` is a literal and a runtime check if it is not. Would this work for you?

The only reason this is still not implemented is my sparse f

[2017-06-30 14:26] ysusuk commented on #188
yeah, that would indeed work for me. for the moment i did that workaround

[code]

so i do have nice description of `BucketName` requirements, but only runtime checks then, which is a good tradeoff, if i'm reading configs from configs.

[2017-06-30 14:43] ysusuk commented on #188
@fthomas what help do you need with https://github.com/fthomas/refined/compare/topic/unsafeFrom2?

[2017-07-01 06:32] fthomas commented on #75
@ysusuk Yes. :-)

[2017-07-03 14:57] ysusuk commented on #75
@fthomas can you pls assign this issue on me)

[2017-07-03 14:58] ysusuk commented on #188
 @fthomas i'm trying to make this one https://github.com/fthomas/refined/compare/topic/unsafeFrom2 work

[2017-07-03 20:23] fthomas commented on #75
It seems that I only can assign it to myself.

[2017-07-05 16:13] ysusuk commented on #88
hi @fthomas correct me if i'm wrong, this predicate should only be available on jvm, not js. since from js you cannot use java libs?

[2017-07-05 19:57] fthomas commented on #294
Fixed by #304

[2017-07-05 19:57] #294 closed

[2017-07-05 20:11] fthomas commented on #88
Yes, that's right. Of course a Scala library for JsonPath that is available for Scala.js (and maybe Scala Native) would be preferable. Since this predicate requires a new dependency it also should go into a new module. The less dependencies in the core module the better.

[2017-07-10 08:00] ysusuk commented on #88
@fthomas this can be closed!? =)

[2017-07-10 08:33] fthomas commented on #88
Right! :-)

Closed by #305

[2017-07-10 08:33] #88 closed

[2017-07-11 10:18] ysusuk commented on #186
i made some first steps https://github.com/ysusuk/exercises-refined/

[2017-07-11 21:30] fthomas commented on #186
Awesome @ysusuk! Is there an easy way to run them?

[2017-07-11 23:52] andyscott commented on #186
/cc @raulraja see above

[2017-07-13 11:48] ysusuk commented on #186
@fthomas i think the easiest way is of course to run the tests=) but if you want to check the UI you'll need to build `sbt compile pushLocal` on `exercises-refined`. Then clone https://github.com/scala-exercises/scala-exercises/ and configure it for local run https://github.com/scala-exercises/scala-exercises#local-development. The configuration process takes some time, but works like a charm when

[2017-07-18 11:53] sh0hei opened #308 "Add refined-matryoshka"
cf. https://github.com/slamdata/matryoshka/issues/81

[2017-08-13 21:27] fthomas commented on #91
Closing since there is now [doobie-refined](https://github.com/tpolecat/doobie/pull/456) by @btre and [refined-anorm](https://github.com/derekmorr/refined-anorm) by @derekmorr.

[2017-08-13 21:27] #91 closed

[2017-08-17 18:03] ajarbol opened #317 "Missing implicit value when using Modulo"
When trying to incorporate `Divisible[N]` as a refined type I encounter a problem.
For instance compiling the following:
[code]
will give me:
[code]
However substituting `Divisible` for something like `Positive` will work without problems. Have others encountered this? It seems to be general for `Modulo[N, O]`

[2017-08-17 20:53] fthomas commented on #317
Thanks for the report @ajarbol! Looking at the definition of `Divisible`, I can see why that happens:
[code]
`_0` there is `shapeless.nat._0`. So your `TestT` type expands to ``Modulo[W.`10`.T, _0]``. The first type argument there is an `Int` and the second a `Nat`. But the library only provides `Validate` instances for `Modulo` if both types are either singleton types with a common `Numeric` inst

[2017-08-18 08:40] OleksandrBezhan opened #319 "Dependent refinement types compilation errors"
I created an example project https://github.com/OleksandrBezhan/refined-issue-example showcasing the following issues with dependent refinement types:

1. Incremental compilation fails. How to reproduce: change file `example.Test.scala` and run `compile`. It fails, but `clean compile` works.
2. Literals don't get refined properly in tests. How to reproduce: `test:compile` and you will get an error

[2017-08-19 13:58] oskoi commented on #319
@fthomas Hi! What do you think about supporting TupleN? This can fix problem with dependent refinement types.

[2017-08-20 05:39] fthomas commented on #319
@OleksandrBezhan Thanks for the report! I'll investigate this.
@oskoi Could you elaborate on your idea to support TupleN? I don't quite follow.

[2017-08-20 08:09] oskoi commented on #319
@fthomas
You can create a dependent refinement using Scala's path dependent types and shapeless (Witness) at compile-time. But this leads to problems of incremental compilation as mentioned above. I suggest adding support not only for literal types, but also for TupleN in macros.
For example, instead of
[code]
you can do the following
[code]
What do you think about it ?

[2017-08-24 20:12] fthomas commented on #319
@oskoi Yes that makes a lot of sense. Currently refined only supports compile-time refinements of [literals](https://www.scala-lang.org/files/archive/spec/2.11/01-lexical-syntax.html#literals) because it is safe and easy to extract their values from the AST at compile-time. So you are proposing to also allow compile-time refinements of tuples that only contain literals. We would basically expand t

[2017-09-07 02:11] sh0hei opened #326 "Add refined-scopt"
cf. https://github.com/scopt/scopt

[2017-09-07 06:57] fthomas commented on #326
:+1:

[2017-09-07 06:58] fthomas commented on #308
:+1:

I haven't used Matryoshka myself but this looks interesing.

[2017-09-13 03:25] shokohara commented on #36
I want this function.

[2017-09-16 20:40] fthomas commented on #36
@shokohara Unfortunately I hadn't described in details what I meant with this issue, but I think the general idea was to have predicates for `String` which are valid arguments for the `scala.math.BigInt(s: String)` and `scala.math.BigDecimal(s: String)` constructors, for example something like this:
[code]
Are we taking about the same thing here?

[2017-09-22 03:55] fthomas opened #328 "Reduce compilation times"
This tweet https://twitter.com/missingfaktor/status/909064863917510656 shows that increased compilation time with refined is a major issue. We should investigate ways to get better in this regard.

[2017-09-24 18:00] #163 closed

[2017-09-28 04:49] fthomas commented on #328
The first step towards this goal has been merged: ~26% reduced compilation times with #332.

[2017-09-29 06:40] fthomas commented on #328
Another step in this direction: #333

[2017-10-03 05:34] fthomas commented on #328
General performance improvements: #335, #336, #337, and #338

[2017-10-05 21:13] fthomas commented on #260
This isn't fixed, but because of #332 and #334 these crashes will hopefully happen less often since we now try to avoid calling `scala.reflect.macros.contexts.Context.eval` if possible.

[2017-10-17 07:36] sh0hei opened #341 "Add refined-scalaprops"
cf. https://github.com/scalaprops/scalaprops

[2017-10-17 12:22] fthomas commented on #341
:+1:

That should be easy since there is already a module for ScalaCheck.

[2017-10-17 12:45] sh0hei commented on #341
Yes, I'll implement this 👍

[2017-10-18 13:12] nrinaudo opened #342 "Provide companion objects with helper methods for value creation"
One barrier to the adoption of refined is that it's not trivial to create values at runtime - one needs to know that the type is refined, and how to work with these.

Ideally, types would be self contained, and value creation methods would be provided in a companion object.

For example:

[code]

Ideally, there's also be an `apply` method for literal values.

This would let library authors, for ex

[2017-10-19 14:28] kusamakura commented on #36
@fthomas That looks useful, but I'm also running into cases where it would be nice to have BigInts/BigDecimals constructed from literals not result in the `compile-time refinement only works with literals` compile-time error.

[2017-10-19 18:35] fthomas commented on #36
@kusamakura This is possible and would just need a small change in `RefineMacro`. [This pattern match](https://github.com/fthomas/refined/blob/b83acba91563ab0a29a2d78f4bebfac6ab10d647/modules/core/shared/src/main/scala/eu/timepit/refined/macros/RefineMacro.scala#L21-L24) would need additional cases for trees that look like `BigInt(<literal>)` and `BigDeciaml(<literal>)`. A PR for that would be ver

[2017-10-20 02:44] kusamakura commented on #36
@fthomas Thanks for pointing me in the right direction. I think I kind of got it: it works for "normal" cases. I'm quite new to macros, so please excuse the bad code.

[code]

Needless to say, for expressions like `val m: BigInt Refined Positive = BigInt(0x7fffffffffffffffL)`, I get a `ClassCastException`. I'm not sure how I can match on possible types of the literal so it can be passed as an argu

[2017-10-20 19:26] fthomas commented on #36
@kusamakura Pattern matching on the literal value should work:
[code]

[2017-10-22 03:54] kusamakura commented on #36
@fthomas Hmm, thanks! Will send a PR your way in a bit.

[2017-11-13 20:32] NeQuissimus opened #354 "Document "types" module in README"
Just stumbled upon `eu.timepit.refined.types.all`.
Let's add something about this package to the README :)

[2017-11-14 19:57] fthomas commented on #354
Agreed! Most of the README was written before the `types` package was added.
In the early days of the library, the focus was on the predicates while it currently shifts more towards fully refined types. Nowadays I'm using type aliases like `PosInt` more than explicit types like `Int Refined Positive`.

[2017-11-25 12:50] nrinaudo commented on #342
Here's an improvement on that idea. You could also add extractors. In the previous example:

[code]

Some use cases:
[code]

[2017-11-27 20:28] fthomas commented on #342
I really like this idea and started working on a macro for this in #346. It works with Scala 2.12 but unfortunately not with 2.10 and with Scala.js on 2.11. :-(

[2017-12-08 21:25] fthomas opened #363 "Validate instances for ByteVector with collection predicates"
The `refined-scodec` module could provide `Validate` instances for `ByteVector` with collection predicates. @coltfred suggested on Gitter that `Size[P]` would be useful predicate to use with `ByteVector`. I'd like to explore if it is possible to write such instances.

[2017-12-10 21:05] fthomas commented on #363
This has been done in #365.

[2017-12-10 21:05] #363 closed

[2017-12-14 21:01] fthomas commented on #271
I'm closing this, since I think it is a bug in shapeless and we can't do anything about this in refined.

[2017-12-14 21:01] #271 closed

[2017-12-14 22:19] fthomas commented on #319
@OleksandrBezhan I finally found time to look into this issue. Sorry for taking so long.

I think there is nothing wrong with your code. The culprit seems to be `shapeless.Witness`. If I replace `Long` with `String` and remove `Witness` in `createLiteral` and change `Blinds` accordingly, everything seems to be working fine:
[code]

I also tried it with Typelevel Scala with `-Yliteral-types` (https

[2017-12-16 22:25] benhutchison commented on #185
Thanks @fthomas Im introducing these now to a codebase and finding them useful :)

[2017-12-16 22:40] fthomas commented on #185
@benhutchison I'm very pleased to hear that! I'm currently working on #369 which hopefully makes working with type aliases easier.

[2017-12-16 23:08] fthomas commented on #342
Since my effort to do this with a macro failed horribly, I started working on a non-macro solution in #369 which I'm quite happy with and which will probably be in the next release.

[2017-12-16 23:16] nrinaudo commented on #342
honestly, I provably like this better than a macro solution.

[2017-12-17 08:05] #342 closed

[2017-12-17 11:06] #319 closed

[2017-12-17 13:11] nrinaudo commented on #342
For the record, it's a pattern I use quite a bit (see [this](https://github.com/nrinaudo/kantan.codecs/blob/develop/core/src/main/scala/kantan/codecs/Decoder.scala#L128), for example).

[2017-12-17 23:03] fthomas commented on #71
Until now I haven't seen any `RefType` instances outside of refined, so I think it is not important to encode the laws like that.

[2017-12-17 23:03] #71 closed

[2017-12-18 03:31] fthomas commented on #295
I don't know why, but I can no longer reproduce this issue:
[code]

[2017-12-18 03:31] #295 closed

[2017-12-18 19:05] fthomas commented on #36
Closing. https://github.com/fthomas/refined/issues/36#issuecomment-207998825 still applies.

As a side note: additional to `ThisIsAValidBigInt` and `ThisIsAValidBigDecimal`, predicates like `ThisIsAValidInt` and `ThisIsAValidDouble` can be useful too. These hold if `String#toInt` or `String#toDouble` do not throw.

[2017-12-18 19:05] #36 closed

[2017-12-19 01:44] kusamakura commented on #36
@fthomas Yes, that would be nice indeed. I would love to find an extensible way without polluting LiteralMatchers all the time though. Any thoughts?

[2017-12-19 23:17] fthomas commented on #36
@kusamakura I'm thinking of `ThisIsAValidInt` as a predicate for `String`, i.e. `String Refined ThisIsAValidInt` would be the type of `String`s for which `.toInt` does not throw. So `"123"` would be an inhabitant of that type, but `"abc"` would not. I think there is no need to change `LiteralMatchers` for this. But maybe you have something other in mind?

[2017-12-20 06:23] kusamakura commented on #36
@fthomas Right, sorry, I misinterpreted that. I'm working on it. :)

[2017-12-20 11:06] fthomas commented on #239
@soronpo Sorry for neglecting this issue for so long. I'm wondering if you're still interested in the `AutomaticConversions` trait as outlined above or if you've switched from refined to singleton-ops for the things you are doing. I'm aksing because I think that with the latest release automatic conversions will become less important for users because of the introduction of `RefinedTypeOps` and co

[2017-12-20 11:39] soronpo commented on #239
Thanks @fthomas. Nice update!
You may now close this issue. I'm using singleton-ops which better fits my use-case.

[2017-12-20 13:12] #239 closed

[2017-12-20 13:31] fthomas opened #381 "Logo for refined?"
It would be cool if refined had a logo like some of the other Typelevel projects. Unfortunately I don't have an idea for a nice logo. Suggestions would be very welcome!

[2017-12-20 21:57] soronpo commented on #381
Maybe something along these lines:
![image](https://user-images.githubusercontent.com/8167952/34230671-8098cf8e-e5e1-11e7-89c6-a622cc1a01b3.png)

[2017-12-21 09:12] howyp commented on #381
I like it! But, surely it *must* be hexagonal? https://github.com/tpolecat/doobie/issues/367

Here are some of the other Typelevel logos: https://www.stickermule.com/user/1070745037/stickers

[2017-12-21 09:20] soronpo commented on #381
Well with an hexagonal example, I would take a hexagonal and cut and move a unique shapes from it and spell-out `refined` with the shapes somehow. It should like this children's game:
![image](https://user-images.githubusercontent.com/8167952/34249068-fbcdd7ee-e640-11e7-9ff0-47095d322a10.png)

[2017-12-21 20:38] fthomas commented on #381
Of course it must be hexagonal! :-)

I like that toy @soronpo. A stylized version of that cube rotated such that it fits into the dimensions of the other Typelevel logo could be nice.

[2017-12-21 20:47] fthomas commented on #381
Other ideas:
 * a [compass](https://en.wikipedia.org/wiki/Compass_(drawing_tool)) maybe with a capital `T` for type as a symbol for making types more precise
 * a capital `T` where the left half is in a sans-serif font and the right half is with serifs or in a curved font.

[2017-12-21 23:35] fthomas commented on #75
I'm closing this in favor of #382.

[2017-12-21 23:35] #75 closed

[2017-12-23 11:50] fthomas opened #386 "Reduce API surface"
In #382 I expressed concerns about adding a variant of the `validate` method that doesn't require a full refined type, because I feel the current API surface is already quite large and the library provides sometimes more than one way to do things (especially with the addition of companions for refined types, see #369). It would be nice if we could reduce the API surface and make it more approachab

[2017-12-23 17:36] fthomas opened #387 "Compilation times of RefineMacro.implApplyRef"
I just noted a big difference between the compilation times of `refineM` and `applyRefM`:
[code]
 This is unexpected since both call the same macro code in the end.

[2017-12-24 07:50] #387 closed

[2017-12-24 13:25] fthomas commented on #328
Reduced compilation time when refining with full refined types: #388

[2017-12-25 10:23] kusamakura commented on #381
How about something like this?

![Sample](https://user-images.githubusercontent.com/882152/34338140-10c82d46-e9a9-11e7-8a33-37680b246d37.png)

[2017-12-25 10:27] kusamakura commented on #381
How about something like this?

![artboard 1](https://user-images.githubusercontent.com/882152/34338208-9f496fc6-e9a9-11e7-961a-e765e61dbe9e.png)

[2017-12-25 22:29] fthomas commented on #381
@kusamakura Nice! I very much like the idea of something that goes from pixelated to high-res.

[2017-12-26 10:27] sh0hei opened #389 "Add refined-scalikejdbc"
cf. https://github.com/scalikejdbc/scalikejdbc

[2017-12-27 12:30] howyp commented on #389
Sounds a good idea. What support would you want to see? A `TypeBinder` for refined types would be nice but simple.

[2017-12-27 12:33] howyp commented on #386
Would it be an option to drop support for `@@` style refinement types? Supporting it *and* `Refined` doubles the API surface area. And my impression is that everyone is using `Refined` now? Or is there an advantage to using `@@` in some instances?

[2017-12-29 19:34] fthomas commented on #386
Early versions of refined used `@@` exclusively because I thought using a well established tag type would be beneficial and that the subtyping relation `T <: T @@ P` is a suitable property for refinement types. Later I found out that the encoding of `@@` does not work very well with type aliases (#21) which is a big disadvantage and introduced `Refined` then. The only advantage of `@@` is that it

[2017-12-30 23:35] howyp opened #396 "'Odd' fails for large integers"
Long.MaxValue is odd, but the `Odd` predicate fails for it, and the `Even` one passes.

[code]
It works correctly for small `Long`s:

[code]

[2017-12-30 23:36] howyp commented on #396
I'd guess this is caused by all values being converted to `Double` before having the modulo check performed:

[code]

[2018-01-01 09:09] fthomas commented on #396
Good catch @howyp!

[2018-01-01 09:17] fthomas commented on #396
I guess a simple and possible the correct way to fix this, is to tighten the `Numeric` constrain to `Integral` and to use its `rem` operation. Unfortunately this won't be binary compatible.

[2018-01-01 16:00] hseeberger opened #397 "Question: Derive a custom Validate from an existing one?"
First let me apologize for creating an issue for a simple question, but I haven't found another channel.

So, let's say I would like to refine `scala.concurrent.duration.FiniteDuration`, e.g. with `Positive`. My first idea was to simply use `Positive` and (contra)map it over a function extracting the `length` from the `FiniteDuration` which is a `Long`. But I haven't found a way to do that, i.e. n

[2018-01-01 20:57] fthomas commented on #397
@hseeberger Asking questions here is fine. The [Gitter channel](https://gitter.im/fthomas/refined) would be another option.

You're right, currently there is no API to `contramap` over an existing `Validate` instance to create a new one. In your case, just defining the instance would be the easiest option:
[code]

I think we should definitely make it easier to define this instance via the `Validat

[2018-01-01 21:11] hseeberger commented on #397
Thanks for the quick answer!

I have changed the title (removed "question") to better reflect the new nature of this issue (now a feature requirement).

[2018-01-02 21:05] fthomas commented on #386
An easy target for removal are the `Subtype` and `Supertype` predicates. I think they have nearly zero practical relevance and are only there because they were easy to write.

[2018-01-02 21:33] #396 closed

[2018-01-06 03:22] kusamakura commented on #381
@fthomas I can send you a vector file (Adobe Illustrator or whatever you prefer) if you wanna use it!

[2018-01-06 03:28] kusamakura commented on #397
I've been thinking about this too – we have `Inference` for equivalent predicates, but we don't have a way to encode type-to-type predicate relationships. For instance, a `Money(amount: Long, currency: String)` class can be refined based on the predicate of its `amount` parameter. I suppose making the `contramap` method on `Validate` public would be a good first step?

Another (more verbose) alter

[2018-01-08 20:29] fthomas commented on #397
Making `Validate.contramap` public is certainly an option but I think it needs a second parameter that also replaces the `showExpr` implementation. In the current form a `Validate[FiniteDuration, Positive]` derived from `Validate[Long, Positive]` via `contramap(_.length)` would reuse `showExpr` from the `Validate[Long, Positive]` instance to produce error messages like `Predicate failed: -1 > 0.`

[2018-01-10 21:22] fthomas commented on #381
@kusamakura That would be great, thanks. I would prefer SVG.

[2018-01-13 19:35] fthomas commented on #217
With the addition of "companions" for predefined refined types there is now a suitable place for operations with these types. For example, I experimented with addition of `NonNegInt`s here: https://github.com/fthomas/refined/blob/76d812c3508e45e6413914dd76a81908ae5cf1db/modules/core/shared/src/main/scala/eu/timepit/refined/types/numeric.scala#L19-L28
Which preserve the non-negative property even i

[2018-01-15 07:08] kusamakura commented on #381
@fthomas Sent it to your email!

[2018-01-16 03:35] #317 closed

[2018-01-22 22:10] fthomas opened #416 "Consider changing layout of objects and traits in the types package"
From
[code]
to
[code]
The latter has the benefit that if one types `NonEmptyString` in a file that hasn't already imported that symbol, IntelliJ will be able to autocomplete the name and automatically import `string.NonEmptyString` if the name is completed. If the actual definition of `NonEmptyString` is in a trait, IntelliJ is able to autocomplete the name but won't import it since `StringTypes.N

[2018-01-22 22:45] fthomas commented on #416
Another advantage of the proposed layout is that `case class`es can be declared `final` without triggering this compile error: `The outer reference in this type test cannot be checked at run time.`. This does not (yet) affect the `types` package since it only contains type aliases and companion objects for now.

[2018-01-23 19:26] fthomas commented on #416
Here are more advantages:
[code]

[code]
There are two differences:
1. with the proposed layout the compiler uses the same string representation for `NonEmptyString` type independent of the path the companion is accessed
1. the proposed layout creates less types: `all.NonEmptyString.type` and `string.NonEmptyString.type` are the same type (as it should be)

[2018-01-25 18:54] fthomas opened #418 "Do something about warning with -Xverify"
@mdimjasevic and @liff mentioned on Gitter that scalac with the `-Xverify` option issues warnings like these when using refined types:
[code]
More info can be obtained with `-Ycheck:jvm`.
@liff also provided this minimal reproduction for this warning:
[code]
We should check if we can fix this warning in the library, report that as scalac bug (if it is not already known), and maybe add this to the

[2018-01-26 07:46] kusamakura commented on #416
I think it's worth it. It's cleaner and like you said, creates less instances.

[2018-01-29 23:14] fthomas commented on #416
The proposed layout also matches how the standard library makes some types available in the `scala` package:
[code]
I'm convinced. This will happen in 0.9.0.

[2018-02-02 15:45] #416 closed

[2018-02-07 21:43] fthomas opened #437 "Add FiniteString?"
https://medium.com/anyjunk/fstring-string-lengths-at-compile-time-81f811750e9e is an interesting article about `String`s with a specified maximum length in the type. In refined we can do something similar with the `MaxSize` predicate: `type FiniteString[N] = String Refined MaxSize[N]`. Maybe this refined type with some convenience functions would make a nice addition to the library?

[2018-02-11 16:11] NeQuissimus opened #443 "[pureconfig] Refined keys for Map[String, T]"
PureConfig provides an instance of `ConfigReader` for maps. (see https://github.com/pureconfig/pureconfig/blob/v0.9.0/core/src/main/scala/pureconfig/DerivedReaders.scala#L198)

Unfortunately, it seems impossible to provide a refinement for the map key without writing a custom `ConfigReader`
I think `refined` should provide a `ConfigReader[Map[Refined[String, ?], T]]` that would allow for map keys

[2018-02-12 20:15] fthomas commented on #443
That sounds good to me. Something similar was recently merged in circe: https://github.com/circe/circe/pull/833

Maybe a generic version of that would have a signature similar to
[code]
?

[2018-02-22 14:00] NeQuissimus opened #444 "[types] Kind of additions"
Considering the types package is in the core module, how liberal are you with accepting additions to it?

I have started refining all of our internal messages at work. Some types are common to a lot of them, such as "UNIX file" (i.e. `/tmp/file.zip`) and "valid Kafka topic".
Do you want me to just PR in whatever I come up with and we pick case by case?

[2018-02-22 14:05] NeQuissimus opened #445 "Compose refinements"
I have a (seemingly) unusual use-case with refined:

I would like to define a combination of refinements.

Here is a simple example:

[code]

I don't think there is a way to do this in refined.
Any thoughts?

[2018-02-28 11:09] fommil opened #446 "scalacheck Arbitrary[A Refined NonEmpty]"
it seems there is no `scalacheck.collection` module, which means no generator for `String Refined NonEmpty`.

[2018-02-28 11:19] fommil commented on #446
I'm not sure how you'd generalise this without using a `Foldable1` or `Monoid` typeclass:

[code]

[2018-02-28 11:36] fthomas commented on #446
This has been recently added for `String Refined NonEmpty` in https://github.com/fthomas/refined/pull/415

[2018-02-28 12:07] fommil commented on #446
@fthomas nice!

It should be possible to do this (and `Empty`) for anything with a `Monoid`. Although, I agree that special casing `String` is a good thing. Proposed (not checked it compiles, the `Arbitrary` / `Gen` split confuses me and in fact `refined` makes the whole concept redundant)

[code]

and also for anything with a `Foldable1` (i.e. prior evidence that it is non-empty)

[code]

with th

[2018-03-02 08:42] umbreak opened #448 "Creating new refinement type crashes with: exception during macro expansion"
I created a [simple project](https://github.com/umbreak/refine-test) which reproduces that error.

When defining my own refined type and using it in the code it fails with the following error at `compile` time:
[code]

The error seems to be related to the fact that when [Const object](https://github.com/umbreak/refine-test/blob/master/src/main/scala/com/test/refined/Const.scala) gets called, appar

[2018-03-03 12:25] fthomas commented on #448
I tried to move some files around but had no luck avoiding this exception. :-( Moving `Refinements` to another module seems to be safest fix.

Different `object`s in [docs/macro_pitfalls.md](https://github.com/fthomas/refined/blob/master/modules/docs/macro_pitfalls.md) work because they are compiled and evaluated in the REPL and there every line is compiled separately.

[2018-03-03 12:33] umbreak commented on #448
Ok thanks for taking a look at it.

Then I guess it would be useful for anyone else to add this on the macro_pitfalls documentation.

[2018-03-03 22:26] fthomas commented on #448
Yes, that would be helpful.

[2018-03-07 22:06] fthomas commented on #444
This is the first time I'm thinking about guidelines for the types package. I'd say types that are "timeless",  applicable in many contexts, and not to specific to some technology and have a common definition are fine. IMO `PosInt`, `NonEmptyString`, `Second`, and `PortNumber` for example all fall into this category. So "Unix file" probably also falls in this category but "valid Kafka topic" proba

[2018-03-08 12:37] umbreak opened #450 "NullPointerException raised when attempting conversion on null string"
I have a type defined as:
```type Some = String Refined MatchesRegex[W.`"[a-zA-Z_][a-zA-Z0-9-_.]*"`.T]```

and then I try to get this type back from a string:
[code]

The result is the following exception on runtime:
[code]

Since applyRef is returning a `Either[String, Some]`, shouldn't that type of error (the string being null) return a `Left(Not allowed empty string)`?

[2018-03-09 14:37] fthomas commented on #448
Documentation has been updated in #451.

[2018-03-13 10:52] umbreak opened #454 "Macro expansion error with generic Inference"
I have the following generic method to convert from `String` to `String Refined A`.
However, this is somewhat different because I'm going to try to convert String to `String Refined B` and then infer A from B, as follows:

[code]
I need a `Validate[String,B]` to convert from String to `String Refined B` and I need a `Inference[B,A]` to convert from `String Refined B` to `String Refined A`.  So far

[2018-03-13 15:42] jan0sch commented on #450
Hmm... The same also happens when using `NonEmpty`.

[code]

@fthomas I would like to take a look at this. Any recommendations for me?

[2018-03-13 17:22] umbreak commented on #450
The `matches` method can throw:
- NullPointerException when the passed string is null
- java.util.regex.PatternSyntaxException when the regular expression's syntax is invalid

Those two cases should be handled on the code and return a Left.

[2018-03-13 21:26] fthomas commented on #454
That's interesting! I've never worked with an explicit `Inference` instance in user code. The `auto.autoInfer` macro cannot work in this case since it needs to evaluate `B ==> A` at compile-time to know if `B` really implies `A`. But there is nothing concrete it can evaluate since `I` is just a parameter.

Unfortunately the instance `B ==> A` is not enough to decide if `B` implies `A`. Here is an

[2018-03-14 09:20] umbreak commented on #454
Thanks. That is useful. You are right, an `Inference` has a `isValid` method, so I cannot assume to be always valid.

It would be cool to have a subtype of Inference which is always valid, so having an implicit evidence of it would mean you can convert it automatically (which under the hood will do this `unsafeRewrap `) because it is safe.

[2018-03-14 16:13] vil1 commented on #295
I managed to reproduce this issue on a project where the https://github.com/tek/splain plugin was activated.

[code]

[code]

The ClassCastException only shows up in the scala REPL, the same code compiles just fine when put in a scala file. Everything is back to normal when I remove splain.

[2018-03-14 20:30] fthomas commented on #295
Thanks for the report @vil1. I've no immediate idea what we could do differently in refined to avoid that exception.

[2018-03-16 09:41] jan0sch commented on #450
My approach is to generally fail a predicate if the given value "is null". This works for the matches stuff:

[code]

However this also has consequences for other predicates like `NonEmpty`:

[code]

The exception can be avoided by fixing the `value.toString` line in `Refined.scala`:
`value.toString` -> `if (value == null) "NULL" else value.toString`

But then this happens for `NonEmpty`:

[code]

[2018-03-20 12:41] umbreak commented on #448
In some cases, even that fix I documented does not work. In the same scala project I was testing, I just updated the Akka HTTP version and afterwards it would not compile. You can check out my [simple test project](https://github.com/umbreak/refine-test/tree/fix) (fix branch) and try yourself.

[2018-03-23 12:50] jan0sch commented on #450
After giving this some more thoughts I propose to not handle this within refined.

#### Reasoning as follows:

1. Automatic negation of predicates in the case of `null` breaks the usage of `Not` and would need more work in several places to check for the `null` case. This complicates the internal logic and also the code base.
2. Checking for `null` should be the job of the developer. These errors

[2018-03-24 16:32] hseeberger commented on #450
I totally agree with @jan0sch. Dealing with potential null values is not a concern of this library. I would consider secretly dealing with null very counter intuitive.

[2018-03-27 20:03] fthomas opened #460 "Add sbt projects that aggregate all JVM/JS/Native projects"
The project that aggregate all JVM projects could be used in the community build (see https://github.com/scala/community-builds/pull/703#issuecomment-376632386) to ensure that new projects would be picked up by it automatically.

[2018-03-31 20:01] #326 closed

[2018-04-05 20:45] fthomas opened #465 "Experiment with newtypes and scala-newtype"
[RefineJavapSpec.scala](https://github.com/fthomas/refined/blob/9358f95c8113fce711c32fb2b03e222a18de8982/modules/scalaz/jvm/src/test/scala-2.12/eu/timepit/refined/scalaz/RefineJavapSpec.scala) shows the boxing behavior and runtime overhead of the different refinement carrier that refined supports which are currently `Refined`, `shapeless.tag.@@`, and `scalaz.@@` (via the refined-scalaz module).

F

[2018-04-05 23:42] carymrobbins commented on #465
@fthomas FWIW, I recently added `@newsubtype` macro support, which gets us unboxed primitives -

https://github.com/estatico/scala-newtype/pull/14

I plan on cutting a release including this feature in the near future. If folks are wanting this sooner rather than later I can prioritize as need be.

[2018-04-06 19:29] fthomas commented on #465
@carymrobbins Unboxed primitives sounds great and the subtyping relation fits well for refinement types. I'll will definitely try that for refined. There is no hurry to cut a release from my side, It'll take a me little while before I can do these experiments.

[2018-04-09 19:01] fthomas commented on #389
I just found a refined integration for scalikejdbc by @katainaka0503 here: https://github.com/katainaka0503/scalikejdbc-refined

I'm inclined to add scalikejdbc-refined to the list of [external modules](https://github.com/fthomas/refined#external-modules) and to just close this ticket. :-)

[2018-04-10 01:44] cm-yamasaki-michihiro commented on #389
@fthomas This library is not yet released to public maven repository.  So, I want you to wait until It published.

[2018-04-10 19:11] fthomas commented on #389
@cm-yamasaki-michihiro There is no rush from my side, I can wait until it is published. :-)

[2018-04-11 18:32] fthomas opened #473 "Include lower bound in MaxSize[N] predicate"
In https://github.com/fthomas/refined/pull/455#issuecomment-372852356 @matthedude noticed that the `type MaxSize[N] = Size[LessEqual[N]]` predicate should include a lower bound like this `type MaxSize[N] = Size[NonNegative And LessEqual[N]]`. In case of the `Arbitrary` instance for collections with any `Size[P]`, this would give as a correct `Arbitrary[Int Refined P]` for the size of such collecti

[2018-04-18 05:04] #437 closed

[2018-04-29 18:06] vasily-kirichenko opened #494 "Unacceptable compilation time"
First of all, the library is cool and all, but the following code compiles for 24 seconds (!):

[code]

[2018-04-29 20:09] vasily-kirichenko opened #495 "`Refined AnyOf[T :: HNil]` is not compatible with `Refined T`"
![image](https://user-images.githubusercontent.com/873919/39410509-1acf6474-4c02-11e8-805b-b85a880a0102.png)

[2018-04-30 05:27] fthomas commented on #495
This requires an `Inference` instances that proofs that `P` implies `AnyOf[L <: HList]` if `L` contains `P`. It would probably have a signature like this:

`implicit def partOfAnyOf[P, L <: HList](implicit shapeless.Selector[L, P]): P ==> AnyOf[L] = ???`

[2018-04-30 05:48] fthomas commented on #494
The reason for long compile times is that each assignment invokes a macro that compiles and evaluates an `Expr[Validate[Char, AnyOf[Digit :: Letter :: Whitespace :: HNil]]]` which is a costly operation. We could try adding a cache for `Validate` instances to that macro so that each unique instance is only evaluated once instead of 110 times as in your example.

[2018-04-30 05:52] vasily-kirichenko commented on #494
@fthomas Yes, it sounds good. But it would not solve the problem in general, where you can have hundreds of (different) refined types. What I'm trying to say is that this library should be used with care on large projects.

[2018-04-30 11:42] fthomas commented on #494
That caveat only applies if you have lots of static data that you want to check at compile-time. In my projects the vast majority of the validation refined performs happens at runtime (e.g. via circe-refined, doobie-refined, and other integrations) while there are only a handful of literals that are checked at compile-time. And the runtime stuff has not that much impact on compilation time.

[2018-04-30 14:15] howyp commented on #494
In my experience, the compilation time has only been a problem with complicated predicates or with lots of compile-time validations.

@fthomas I was wondering if you knew if it's the macro that takes time, or the implicit resolution of the `Validate` instance? I was hoping the changes made to re-organise the `Validate` instances in 0.9.0 might have made resolution a good bit faster?

[2018-04-30 18:27] kevinmeredith commented on #397
Is there support for `Refined[FiniteDuration, Positive]`?

[code]

Thanks for your help and this great library!

[2018-04-30 19:03] vasily-kirichenko opened #496 "How to specify "non empty string with size greater 0 and less then N"?"
I'm trying this:

[code]

But it does not compile:

[code]

[2018-05-01 06:11] fthomas commented on #496
Try ``type OrderId = String Refined Size[Interval.Closed[W.`1`.T, W.`50`.T]]``.

`NonEmptyString` is an alias for `String Refined NonEmpty` and `FiniteString[50]` is an alias for `String Refined MaxSize[50]`. The reason why your `OrderId` does not work is because `And` can only combine predicates (like `NonEmpty` and `MaxSize[50]`) and not refined types (like `NonEmptyString` and `FiniteString[50]

[2018-05-01 06:44] fthomas commented on #494
@howyp I've not measured how compilation time changed between 0.8.7 and 0.9.0 due to implicit resolution. That would be interesting to know. What I know is that if the macro is invoked with a `Validate` instance that we don't precompute [this `eval` call](https://github.com/fthomas/refined/blob/1232d2bc3480be4df1d4b01834d931a0ee9a0e67/modules/core/shared/src/main/scala/eu/timepit/refined/macros/Re

[2018-05-01 08:44] vasily-kirichenko commented on #496
Thanks!

[2018-05-01 08:44] #496 closed

[2018-05-01 08:46] vasily-kirichenko commented on #495
I'm new to Shapeless, I'm stuck with the following:
[code]

[2018-05-01 13:32] fthomas commented on #495
You don't need to do anything with the `sel` parameter because if the compiler finds an instance `Selector[L, P]` it already has proven that `L` contains `P`.

So
[code]
should be enough to make your initial code compile.

[2018-05-01 15:01] vasily-kirichenko commented on #495
Thanks. Now something goes really wrong:
[code]
[code]

[2018-05-01 19:39] fthomas commented on #495
The good news is that your `Inference` instance now works as intended (otherwise you wouldn't see that stack trace) but the bad news is that you're hitting the problem described in https://github.com/fthomas/refined/blob/master/modules/docs/macro_pitfalls.md. For testing the instance it should be enough if you put the instance in your `main` sources and the test code in the `test` sources.

[2018-05-02 08:50] vasily-kirichenko commented on #495
This does not help:

[code]

Maybe it's a good idea to add this implicit right into Refined itself? I think it's completely general.

[2018-05-02 13:50] fthomas commented on #495
I agree, it would be a welcome addition.

[2018-05-02 20:27] fthomas commented on #397
@kevinmeredith refined does not (yet) provide support for refining `Duration` or `FiniteDuration` but you can use the instance in https://github.com/fthomas/refined/issues/397#issuecomment-354676072 for that.

[2018-05-03 19:40] fthomas commented on #445
@NeQuissimus I'd probably combine hostname and port in a case class:
[code]
But I guess your `HostAddress` would be more like a `String Refined P` where P is a combination of `NonEmpty`, `Equal[:]`, and `Interval.Closed[0, 65535]`. I don't see a way how this could work.

[2018-05-09 18:59] fthomas opened #503 "Add Trimmed predicate and use it to implement TrimmedString"
See #487 for details.

[2018-05-09 19:48] fthomas commented on #450
I agree with @jan0sch and @hseeberger. Null checking is not the concern of refined and as @jan0sch demonstrated it would add complexity which I would rather avoid.

That being said, in some cases refined accidentally handles `null` values:
[code]
This is because the `Validate[String, Regex]` instance is implemented via [`Validate.fromPartial`](https://github.com/fthomas/refined/blob/e071ea517b7b78

[2018-05-10 20:38] fthomas commented on #503
Fixed by #504

[2018-05-10 20:38] #503 closed

[2018-05-11 17:41] NeQuissimus opened #506 "Boolean refinements"
The title sucks, I know :)

The following is an annoying thing `refined` allows but should probably not be allowed.
I also think that some kind of type bound or self-typing may be able to solve this, although I have not looked into it at all.

Imagine this code:
[code]

Looks fine until you realize it makes so sense at all (but compiles!).

[code]

So we have an `And[Refined[String, NonEmpty], Max

[2018-05-12 07:03] fthomas commented on #506
We could introduce a marker `trait Predicate`, let every predicate extends that, and then use a type bound in `And`: `class And[A <: Predicate, B <: Predicate]`. `Refined` would not be a `Predicate` and `And[Refined, ...]` would be a compile error.

[2018-05-12 13:41] NeQuissimus commented on #506
I like that, I will likely send a PR for that next week.

[2018-05-14 13:41] NeQuissimus commented on #506
Here is another weird one. I am unsure it will be fixed with the marker trait. If not, I will open a new issue:

[code]

[2018-05-14 14:06] fthomas commented on #506
Actually the first is correct and the second makes no sense. But you're right, for `MaxSize` we can't add a type bound because we want to allow both `Nat` and singleton types: `MaxSize[_5]` and  ``MaxSize[W.`5`.T]``.

What we can prevent via the marker trait is:
[code]
By defining `Size` as `final case class Size[P <: Predicate](p: P)`.

[2018-05-15 08:46] fthomas commented on #184
One step in this direction has been made in #433 which is now available in 0.9.0. So to import all predicates we can now `import eu.timepit.refined.predicates.all._`.

To import all of the standard functionality of the library we are now down to five imports:
[code]
My long-term goal is to shrink that further to maybe two or three imports.

[2018-05-15 09:30] fthomas commented on #386
With the recently added `refined-shapeless` module we could also move support for `shapeless.tag.@@` to this module. It would be then similar to the support of `scalaz.@@` that we currently have in the `refined-scalaz`.

[2018-05-15 09:56] fthomas opened #509 "StringTypes.TrimmedString.trim fails with \u000a"
In a recent Travis build the test `StringTypes.TrimmedString.trim(str)` failed during `coreJS/test`:
[code]
That build was with Scala 2.10 and unrelated to `TrimmedString.trim` so I believe this could also happen on master.

[2018-05-15 10:08] fthomas commented on #444
I'm going to close this issue. @NeQuissimus if you think this should be clarified and/or documented in some kind of FAQ or somewhere else, please reopen it.

[2018-05-15 10:08] #444 closed

[2018-05-15 12:09] #509 closed

[2018-05-15 18:28] NeQuissimus commented on #506
So this marker trait business is a little more involved than I had thought :)
If somebody want to take this on, go ahead. Otherwise it will have to wait until I have a bit more free time.

[2018-05-18 17:36] fthomas opened #515 "Reduce compilation times of our tests"
[code]
Our tests need a lot of time to compile. I'd like to know why this is the case and if we can do something about it.

[2018-05-18 19:17] fthomas commented on #515
Removing all `illTyped` tests brings us down to
[code]
But just deleting them is not an option.

[2018-05-18 20:31] fthomas commented on #515
Removing `MaxSpec` and `MinSpec` halves compilation times:
[code]
And if we just compile these two files, we get:
[code]

[2018-05-18 20:52] fthomas commented on #515
The culprits are instances like
[code]
Interestingly this happens only with `Nat`s:
[code]

[2018-05-18 20:59] fthomas commented on #515
This is interesting:
[code]

[2018-05-19 08:28] #515 closed

[2018-06-07 17:45] fthomas opened #524 "Import in IntelliJ IDEA fails"
Importing refined in IntelliJ IDEA 2018.1.4 currently fails with:
[code]

IIRC this first happened after updating Scala Native or sbt-crossproject. We should check if this is refined specific or a general problem with IntelliJ.

/cc @howyp

[2018-06-07 18:51] howyp commented on #524
@fthomas Thanks for raising this.

Now I think about it, I'd guess this is because Scala-native doesn't support 2.12: https://github.com/scala-native/scala-native/issues/233 😞

And I guess IntelliJ picks 2.12 as the version to import?

[2018-06-07 19:38] fthomas commented on #524
@howyp You're right, the message `org.scala-native#nativelib_native0.3_2.12;0.3.7: not found` shows that IntelliJ tries to resolve Scala Native for 2.12.

Btw, reverting e9120ced7542c9e745cecccce640c50bbbbfacb5 didn't resolve the issue.

[2018-06-07 19:47] howyp commented on #524
I've found that if i remove lines where the native projects are created such as:
[code]

the import runs fine. I'm at the limit of my SBT-foo, is there a way to only create these vals for 2.11 (or put empty values into them for non-2.11)?

[2018-06-07 20:02] fthomas commented on #524
I've found a fix by looking at Monocle's build. I'll open a PR shortly.

[2018-06-07 21:04] #524 closed

[2018-06-11 23:45] kubukoz opened #527 "refined-cats: Semigroup for numeric types"
AFAICS it should be possible to define a `Semigroup[A Refined Positive]` for any `A : Semigroup`, as well as for `Semigroup[A Refined Negative]` (adding two negative numbers still gives a negative number).

WDYT about adding something like that to the refined-cats module?

[2018-06-11 23:47] kubukoz commented on #527
There could also be semigroups for `Greater[A]` for the same `A`. Ideally given `A < B` we should be able to call `|+|` on values `X Refined Greater[A]` and `Y Refined Greater[B]` and get a `Z Refined Greater[A]`, etc.

[2018-06-13 15:39] fthomas commented on #527
I don't think it is possible to derive a `Semigroup[A Refined Positive]` from any `Semigroup[A]`. Here is a contrived counterexample:
[code]
`sg.combine` always returns a negative `Int` and I don't see way to derive a `Semigroup[Int Refined Positive]` from `sg` that only produces positives `Int`s in a generic way.

But adding some specific semigroups / monoids for addition of integral types (e.g.

[2018-06-13 15:54] kubukoz commented on #527
I see... then let's add some instances for actual types :) I'll come up with some PR when I have time.

[2018-06-13 21:22] fthomas commented on #6
@kubukoz It hasn't been implemented yet. :) But I'm open to adding `Sorted` or `Sorted{Asc, Desc}` or something similar to the librarary.

[2018-07-05 18:37] NeQuissimus commented on #260
I have started seeing this as well (refined 0.9.0).

All I have been able to notice is that a slower build slave seems to run into this more often. But that may be purely coincidental.

<details>
<summary>Sample stack trace</summary>
<code>
[error] java.lang.AssertionError: assertion failed: import failure: cannot determine unique overloaded method alternative from
[error]  final package eu
[error

[2018-07-05 20:09] fthomas commented on #260
@NeQuissimus Do you know the predicate for which the macro is called in this case? If it is provided by the library, we can fix this for this particular predicate by adding the appropriate `Validate` instance to https://github.com/fthomas/refined/blob/master/modules/core/shared/src/main/scala/eu/timepit/refined/macros/RefineMacro.scala#L59.

[2018-07-05 23:40] NeQuissimus commented on #260
@fthomas I had multiple of these, I can look them up tomorrow.

[2018-07-06 15:31] NeQuissimus commented on #260
Alright, so I had the following instances over the last couple of days:

- `"_"` and `"A"`  refinement into `type ShortString = String Refined (NonEmpty And MaxSize[W.`255`.T])`
- `"0.0.0.0"` into `type IPAddress = String Refined (IPv4 Or IPv6)`
- `"2018-05-21T00:50:00.239Z"` into ```type ISO8601 = String Refined MatchesRegex[    W.`"^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12]

[2018-07-13 20:07] fthomas commented on #260
@NeQuissimus They are not primitive predicates but composed of primitive predicates that are defined by the library so in principle we could add their `Validate` instances to the cache of precomputed instances.  But this is an ugly band-aid and I'd much prefer an actual solution for this problem. I'll try again to find a more general fix.

[2018-07-15 21:02] fthomas commented on #503
@steinybot Agreed. The release notes do not mention the semantic changes between the old and new `TrimmedString`. Would you like to update the release notes? That would be great.

[2018-07-24 03:13] SethTisue opened #549 "StringValidate.Regex.showResult fails"
in a clean checkout, if I do `coreJVM/testOnly *StringValidate*` I get:

[code]

seen in the Scala 2.12 community build

[2018-07-30 19:41] fthomas commented on #549
It seems that this test is sensitive to the JDK version. It is just fine with Oracle JDK 8 and I guess you and the community build use a different JDK, right?

Nevertheless, it should be fixed with #551.

[2018-07-30 20:06] #549 closed

[2018-07-30 20:09] SethTisue commented on #549
I thought I had seen this on Oracle JDK 8, but it's possible I got confused about what Java version I was running.

regardless, your fix looks good. I'l come back if it crops up again

[2018-08-06 10:14] vlovgr opened #553 "Diverging implicit expansion for `Show` instances"
The following code (ammonite):

[code]

results in the following compile-time error.

[code]

Changing to `import eu.timepit.refined.cats.refTypeShow` makes the example compile.

[2018-08-06 19:42] fthomas commented on #553
Thanks for the report @vlovgr. I've started working on this in https://github.com/fthomas/refined/pull/554.

[2018-08-09 08:23] steinybot opened #556 "Docs compilation fails with refined and splain compiler plugin"
I found this bizarre interaction between refined and the https://github.com/tek/splain compiler plugin. `compile` works fine but `docs` throws a `ClassCastException`. It's possibly splain at fault but I thought I would raise it here since I have only seen it in a refined macro expansion.

So the setup is like this:

*project/build.properties*
[code]

*build.sbt*
[code]

*src/main/scala/Foo.scala*

[2018-08-09 08:30] #556 closed

[2018-08-09 20:02] fthomas commented on #556
I've no idea why that happens or if something can be done about it in refined.
The other obvious workaround would be to not use refined's macros.

[2018-08-10 01:07] bbarker opened #558 "scala.js: applyDynamic does not support passing a vararg parameter"
In Scala.js (`addSbtPlugin("org.scala-js" % "sbt-scalajs" % "0.6.22")`, when I try to do something like:

[code]

I get this error:

[code]

Possibly related upstream bug chain: https://github.com/scala-js/scala-js/issues/1656

[2018-08-23 20:46] fthomas commented on #558
Thanks for the report, @bbarker. It is strange that this does not happen in refined's own source which is compiled for and tested with Scala.js. Which sbt command produces these errors?

[2018-08-23 21:28] fthomas commented on #558
I tried reproducing this in https://github.com/fthomas/refined-sjs-example/commit/caa24a68dff36098092c5a043983667110cb0786 but this builds just fine.

It would be nice to reproduce these errors in [refined-sjs-example](https://github.com/fthomas/refined-sjs-example).

[2018-08-31 11:42] fthomas commented on #506
We are not only putting `Result` values into predicates but sometimes also arbitrary types. See for example
[code]
So if we change `class Forall[P](p: P)` to `class Forall[P <: Predicate](p: P)` the above would be invalid since `List` is not a subtype of `Predicate`.

[2018-08-31 13:30] NeQuissimus commented on #506
Yeah, I don't think we can do this with what we currently have. I have sort of given up since I've run into lots of different issues whenever I tried... Not sure how to solve this...

[2018-09-01 12:50] #446 closed

[2018-09-03 12:38] #161 closed

[2018-09-03 12:40] #162 closed

[2018-09-16 00:33] SethTisue opened #569 "InferJavapTest failing in 2.12.7 nightly builds"
if I add `resolvers += "scala-integration" at "https://scala-ci.typesafe.com/artifactory/scala-integration/"`

and fix the macro paradise version at 2.12.6 since no 2.12.7 build yet exists yet (of course)

[code]

then `++2.12.7-bin-25d596e!` followed by `scalazJVM/test`, I see:

[code]

this turned up in the Scala 2.12 community build at e.g.
https://scala-ci.typesafe.com/view/scala-2.12.x/job/sc

[2018-09-16 00:59] SethTisue commented on #569
for now, in the community build I've just excluded `InferJavapSpec.scala` and `RefineJavapSpec.scala` (they're both affected I guess actually?), scala/community-builds@054673d1719ac269abf6f67d1580c05bdcf40431 and scala/community-builds@4b653437ec3e14657e3bedba3a46f2a0fed3d56e

[2018-10-03 12:09] NeQuissimus commented on #569
Here is a diff of the output btw:

[code]

I think this is just a case of a sensitive test. I have noticed other changes in the bytecode output with 2.12.7 as well.

[2018-10-03 13:18] liff opened #572 "refined-scalacheck binary compatibility"
Since 0.9.1 the `refined-scalacheck` module depends on scalacheck 1.14, which is [not binary compatible with 1.13 series](https://github.com/rickynils/scalacheck/blob/1.14.0/RELEASE.markdown#whats-new-in-scalacheck-1140).

Although this isn’t a problem for refined itself, depending on instances from `refined-scalacheck` can cause problems when used with something like `cats-laws` or `circe-testkit

[2018-10-04 08:35] fthomas commented on #569
Sorry for the late reply. This does not look like a regression in the compiler, the only things that changed are the constant pool indices. I've already updated the javap output in https://github.com/fthomas/refined/pull/571/files#diff-b1953059626d9d11e6d6164edec0e90b and will modify the tests such that they are not sensitive to these indices.

[2018-10-04 18:39] SethTisue commented on #569
green at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/, thanks Frank!

you can leave this ticket open if you like, to track the "will modify the tests" part, or close it

[2018-10-15 04:45] steinybot opened #575 "Compile-time refinement for cons"
It would be cool if this worked:

[code]

[2018-10-21 19:18] #572 closed

[2018-10-24 21:07] vreuter opened #580 "Prohibit invalid predicate compositions?"
Would it be possible to have certain always-invalid or always-valid predicate compositions cause compilation errors? For example:
[code]
or
[code]

[2018-11-03 21:28] fthomas commented on #553
Fixed by #554

[2018-11-03 21:28] #553 closed

[2018-12-08 11:34] oleg-py commented on #260
I just received the same error compiling this exact file:
https://github.com/oleg-py/arcomage-challenge/blob/d47b70cfb5521ad22bab88488c830d69569c0da6/core/src/main/scala/ac/game/GameConditions.scala

It only uses `Greater` refinement and automatic conversions. Restarting sbt made the problem go away.

[2018-12-12 10:38] Primetalk commented on #397
For deriving a custom `Validate` from existing one we might need an equivalence relation:
[code]
And then we want to have the following validation inference rule:
[code]

[2019-01-17 06:01] fthomas commented on #43
Fixed by #603.

[2019-01-17 06:01] #43 closed

[2019-01-24 11:03] Methrat0n opened #608 "autoUnwrap does not kick in when refined type is used in expression"
The `eu.timepit.refined.auto.autoUnwrap` implicit conversion does not work when used in expressions.

Example :
[code]

The last line complains about the + function not being defined for PositiveInt. The autoUnwrap function  work when used directly :
[code]

In comparison a simpler definition works fine, for example this one :
[code]

It would be great if the autoUnwrap def would be called here, a

[2019-02-03 15:49] fthomas commented on #98
Since the future of macros in Scala is currently uncertain, I feel uncomfortable adding more to the code base. Closing for now.

[2019-02-03 15:49] #98 closed

[2019-02-03 16:37] fthomas commented on #608
Thanks for the report, @Methrat0n! It seems that adding a type parameter for the predicate also does the trick:
[code]
And then:
[code]

[2019-02-03 20:56] #608 closed

[2019-02-03 21:11] fthomas commented on #575
This seems to work:
[code]
[code]
I'm open to adding this to the `types` package.

[2019-02-03 22:19] XoJIoD89 opened #613 "Numeric conversion for types with several predicates does not work"
[code]
This produces error:
[code]

[2019-02-21 16:18] NeQuissimus opened #616 "Email refinement"
It would be wonderful if we had a string refinement that validates an email address :)

[2019-02-21 19:58] fthomas commented on #616
That would be a welcome addition. Any ideas how to implement that?

[2019-02-22 12:55] dm-tran commented on #527
I tried to implement some Semigroup instances and tested them using [cats-laws](https://typelevel.org/cats/typeclasses/lawtesting.html).

[code]

Law tests for PosFloat and PosDouble sometimes fail, because floating point addition is not associative (but this is also the case for Float and Double). For instance:
[code]

And it turns out that the sum of two PosByte/PosShort/PosInt/PosLong isn't alw

[2019-02-22 13:39] NeQuissimus commented on #616
Maybe we need a module that depends on Apache Commons, there is lots of good stuff in there: http://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/EmailValidator.html

Credit card numbers, ISBN, TLD...

[2019-02-22 19:43] fthomas commented on #527
I would argue that if an integral type overflows on addition, a refined integral type should too for consistency. So ` PosByte.MaxValue |+| PosByte.unsafeFrom(1)` would be `1: PosByte`. I experimented with addition of `NonNegInt` [here](https://github.com/fthomas/refined/issues/217#issuecomment-357460213) but never came around adding this to the library.

[2019-02-22 20:01] fthomas commented on #616
If this requires a new module, we should think about having it in a separate repo. We have right now 11 (and soon 12) separate modules and each module slows down builds and releases and makes maintenance a little bit harder. I've reserved this https://github.com/refined-org organization which we could use for new refined-* repos.

[2019-02-23 21:00] dm-tran commented on #527
That makes sense and it's much better than returning the MaxValue. I will try to work on it and submit a PR.

[2019-03-02 05:58] LMnet commented on #104
One more example of a strange error message:
[code]

[2019-03-08 12:35] crypticmind commented on #443
This looks like a good exercise to familiarize with refined.

The signature @fthomas proposes looks OK, however, I see `cur.asMap` returns a map of `String` → `ConfigCursor`, which makes sense because by [definition](https://github.com/lightbend/config/blob/master/HOCON.md#definitions), keys in HOCON have to be strings. So, it looks like the signature should constrain the map to refined string key

[2019-03-09 10:07] fthomas commented on #443
@crypticmind Yes, that makes sense. But note that `F[String, _]` in the type parameters list should still be `F[_, _]` since `RefType[F]` requires that `F` is a binary type constructor.

[2019-03-11 14:55] ChernikovP opened #619 "Inference rules are not working for Interval types"
While getting familiar with `refined` (version `0.9.4`) I was excited by ability to easily convert between refined types:

[code]

but once I tried slightly more complex type, I faced compiler error:

[code]

[2019-03-11 15:17] ChernikovP opened #620 "Interval refinement on doubles / floats allows NaNs."
[code]

The only way to avoid this currently is to add `NonNaN` to the equation:

[code]

[2019-03-13 19:12] etspaceman opened #621 "Support for FiniteDuration"
#397 had some discussion about whether or not this library supports FiniteDuration. It seems to be a pretty standard use-case - I'd like to see some official support for it in this library.

[2019-03-21 19:29] fthomas opened #622 "Use alexarchambault/sonatype-stats to collect download stats"
see https://github.com/alexarchambault/sonatype-stats

[2019-03-28 09:20] sad-fat-cat opened #624 "Literal predicates for BigDecimal"
Example: https://gist.github.com/enp0s23/229b9125c4ce9912ed740e9520b31803

For BigDecimal, we can use NonNegative, but can't use literal predicates, like Greater or Interval.

This looks strange -- why we cannot apply numeric predicates to the numeric type from the standard library?

[2019-04-16 12:53] ipsq opened #630 "`Sorted` predicates"
As discussed in #6, there is room for a `Sorted` predicate. I'm currently running into use cases where an algorithm's implementation differs for sorted and unsorted collections. If we can decide on a type signature, I can start on the implementation. With regards to the sort direction, in my opinion we can do two things. We can just assume ascending or we can provide some sort of enum type which d

[2019-04-16 14:24] ipsq commented on #630
This what I could come-up with so far:

[code]

Let me know what you guys think. This could be more generalized to `Traversable[A]` but I didn't have time to figure that out yet.

[2019-04-30 14:05] henricook commented on #621
I've just spent some time looking into how to write my own predicates for this, but looks hard!

[2019-04-30 14:21] henricook opened #633 "Guide for implementing a custom refined type"
I love this library, thanks for your work on it

I wanted a way to say a FiniteDuration must be > `5 seconds` earlier today and set about looking into writing my own refined type, but it looks tricky - is this really simple, have I missed something?

A guide on extending the library with your own types might be nice (which is why i made this ticket)

[2019-04-30 18:51] fthomas commented on #633
It is indeed a bit tricky because you somehow need to lift the predicate `> 5 seconds` to the type-level. The library supports `> 5` for numeric types with ``Greater[W.`5`.T]`` but `FiniteDuration` is a quantity with a unit of measurement and it would be nonsensical to have ``FiniteDuration Refined Greater[W.`5`.T]`` because 5 has no associated unit. If we could express quantities at the type-leve

[2019-04-30 19:40] henricook commented on #633
This is super useful, thanks!

[2019-05-01 07:37] fthomas commented on #621
I wrote a bit about supporting `FiniteDuration` [here](https://github.com/fthomas/refined/issues/633#issuecomment-488071074). @etspaceman It would help if you could provide one or two examples how you would refine `FiniteDuration`.

[2019-05-01 08:22] henricook commented on #633
I've done some shameless thievery from the `size` validate instance you linked, and i haven't yet tested this but:

[code]

[2019-05-01 09:03] henricook commented on #633
If I was validating this would I use
[code]
could not find implicit value for parameter v: eu.timepit.refined.api.Validate[scala.concurrent.duration.FiniteDuration,com.my.app.common.validation.CustomRefinedTypes.LengthInSeconds[eu.timepit.refined.numeric.Greater[Int(5)]]]
[code]

[2019-05-01 09:14] fthomas commented on #633
Try to use ``W.`5L`.T`` since the inner validate instance requires a `Long`: `implicit v: Validate.Aux[Long, P, RP]`.

[2019-05-01 09:15] henricook commented on #633
Thanks, that would have taken me a million years to find

[2019-05-02 20:30] fthomas commented on #633
I'm curious, is this working now?

[2019-05-02 20:39] henricook commented on #633
Sure is! I got a bit side tracked today but I was just writing some tests to cover it in my project, but signs look good

On my to-do list is to see if I can save on this repetition:

[code]

Because I have a field in a case class that's 'fieldName: MySpecialType` and `type MySpecialType = FiniteDuration Refined LengthInSeconds[Greater[W.`5`.T]]`

So I kind of have the rules in two places, which s

[2019-05-03 18:15] fthomas commented on #633
You could define a companion object for `MySpecialType`:
[code]
`MySpecialType.from` is then the same function as ``refineV[LengthInSeconds[Greater[W.`5`.T]]](_: FiniteDuration)``.

[2019-05-03 18:22] henricook commented on #633
Amazing, that's me happy - thanks again!

[2019-05-06 14:46] #633 closed

[2019-05-31 17:36] etspaceman commented on #621
Sorry for the late response here! I would largely treat it like a numeric instance myself. Things like `Positive`, `NonNegative`, etc would be my most highly used thing.

[2019-05-31 18:49] fthomas commented on #621
Ok, this would be possible with the `LengthInSeconds` predicate mentioned in #633, i.e. `FiniteDuration Refined LengthInSeconds[NonNegative]`, etc.

[2019-05-31 19:46] etspaceman commented on #621
Yes I've done similar things, but have dropped the usage as the `auto` package does not support FiniteDuration. That's mainly why I opened this ticket. Without `auto` support, using this for FiniteDuration literals becomes a big pain.

[2019-06-16 09:23] fthomas opened #647 "Extract macros to a new refined-macros module"
See https://github.com/fthomas/refined/pull/592#issuecomment-445942477 for the rationale.

[2019-06-23 12:50] #527 closed

[2019-07-15 16:45] gaelrenoux opened #657 "[pureconfig] Refined cannot be read inside a Collection inside a Product inside a Collection"
Sorry about the long title, but this is a weird one and I wasn't sure how to name that.

I had the problem in my configuration, here's a simplified version:
[code]

The definitions of failureWithPosInt and failureWithNonEmptyString do not compile.The same problem exists with Seq, but it goes away with List (so there's a workaround, but I'd rather have a Set as that's what makes sense in my model).

[2019-07-29 01:17] SethTisue opened #661 "AdjacentSpec BigDecimal test case failing on recent Scala 2.13 nightlies"
this came up in the Scala 2.13 community build. after https://github.com/scala/community-builds/commit/54060a29041b3e4a229ff3d138df8497640e4d97 , refined started failing with:

[code]

the problem is reproducible outside dbuild just with `++2.13.1-bin-c5eed1d` (after [adding a resolver](https://stackoverflow.com/questions/40622878/how-do-i-tell-sbt-to-use-a-nightly-build-of-scala-2-12-or-2-13/4062

[2019-07-29 10:26] lrytz commented on #661
Since somehow the message got lost above, it's

[code]

We have `trait Adjacent[T] extends Ordering[T]`.

It is a bit confusing to see that message because `implicitly[Ordering[BigDecimal]]` exists.

We could include the type that is actually required in the message. Maybe also emit a warning when compiling `Adjacent` to suggest adding an `@implicitNotFound`? cc @som-snytt

[2019-07-30 03:19] som-snytt commented on #661
The Scala PR moves the parent annotation text to the end of the message, so that the test should work again. It tests a prefix of the message.

[2019-08-21 10:10] mlopes opened #662 "Size, MaxSize and MinSize for String?"
Would it make sense to have refinment types that constrain String sizes? I frequently see APIs that have arbitrary size constraints on Strings, and using a String type to represent that while missing the constraints seems dissonant.

I can give it a try to see if I can implement that, if that's something that makes sense?

[2019-08-23 01:44] UkonnRa opened #663 "Email Regex getting ` Malformed literal` error"
Say a Email MatchesRegex: `type EmailType = MatchesRegex[W.`"^[\\w.+-_]+@[^.][\\w.-]*\\.[\\w-]{2,63}$"`.T]`.

Get an error when compiling:

[code]

Any idea?

[2019-08-23 07:11] fthomas commented on #662
This is already supported. Try for example `String Refined MaxSize[5]` or `String Refined Size[Equal[5]]`.

[2019-08-23 13:07] mlopes commented on #662
Ah sorry, I saw in the documentation that those where for Collections and thought they weren't available for strings. :)

[2019-08-23 13:07] #662 closed

[2019-08-23 19:22] fthomas commented on #663
Using triple quotes for the regular expression might help: ``MatchesRegex[W.`"""..."""`.T]``

[2019-08-23 19:28] fthomas commented on #662
No problem. Maybe we should improve the documentation then. Most of the collection predicates also work for strings. Any suggestion where we should mention that strings are supported too, are welcome!

[2019-08-30 22:00] mlopes commented on #662
Maybe somewhere around here?

https://github.com/fthomas/refined/blame/master/README.md#L399

Won't be able to make a PR in the next week or so, but I can try to do it later/

[2019-10-05 08:46] hejfelix opened #688 "scalacheck refined types generate invalid instances"
When I have `forkvm := True` in my tests, I am sometimes experiencing that the refined types generated using scalacheck are invalid, causing runtime errors in my tests. I will try to see if I can minimize it enough to create a small example.

[2019-10-12 07:08] hejfelix commented on #688
Turns out, this was related to a weird case where forking the JVM inside a docker image would change the default charset, causing our encoders/decoders to mess up, in turn making it look like we were generating wrong instances when we were in fact just not deserializing them correct. Closed.

[2019-10-12 07:08] #688 closed

[2019-12-03 03:34] steinybot opened #702 "PrivateNetwork type does not match the expected IP addresses"
Was there a particular reason behind the RFCs that were chosen in https://github.com/fthomas/refined/pull/356?

I found that `PrivateNetwork` did not match what I expected it to.

The addresses in [rfc5737](https://tools.ietf.org/html/rfc5737#section-4) seem like they should never be routed to:

There is also a bug in `Rfc1918ClassBPrivateSpec`. It should start at `172.16.0.0` not `172.15.0.0`. ht

[2020-01-09 18:34] jhnsmth opened #711 "Remove xml from core"
I'd like to propose removement of xml dependency from core. I believe it's there only for historical reason, as previously xml was a part of scala standard library.

Together with #647 this allows to have a single shapeless dependency in core.

If this change is welcome, I'm happy to make a PR as well as other necessary steps.

[2020-01-09 18:50] fthomas commented on #711
This already happened in #610 which was merged into the `series/0.10` branch because it is a binary and source incompatible change. I guess it is time now to merge this branch in master and to bump the version to 0.10.

[2020-01-09 19:00] jhnsmth commented on #711
Oh, sorry I did not know that there is a branch for upcoming version. Lets close this issue then.

[2020-01-09 19:00] #711 closed

[2020-01-09 20:21] #663 closed

[2020-01-14 23:40] SethTisue commented on #260
I'm seeing this in the Scala community build at https://github.com/scala/community-build/issues/1039

[2020-01-15 11:44] fthomas commented on #260
I've just read this comment by @retronym in https://github.com/scala/bug/issues/9218#issuecomment-565285839:
[code]
I think we can get rid of the self type in [`Validate`](https://github.com/fthomas/refined/blob/c3453620948749fff4515151c841a66c360c674c/modules/core/shared/src/main/scala/eu/timepit/refined/api/Validate.scala#L12) and if we're lucky not trigger this bug anymore. That would be wonder

[2020-01-21 02:09] SethTisue opened #718 "RefineSyntaxSpec fails on latest Scala 2.13 nightly (progression?)"
this arose in the Scala community build at https://github.com/scala/community-build/pull/1056

it's reproducible outside dbuild with `++2.13.2-bin-23f0ead` followed by `coreJVM / Test / compile`

[code]

offhand it looks like a progression rather than a regression, is that guess right?

[2020-01-22 19:19] fthomas commented on #718
Yes, that indeed looks like a progression. It seems to me that the compiler now inferred `Positive` as type parameter for `refineMV` based on the type of `testRefineMV`.

Is there anything I could do so that you don't need to maintain a fork of refined for the community build? I guess one option would be to just not check the error message in this case.

[2020-01-22 20:16] SethTisue commented on #718
Even if you do nothing now, you'll hit this in a month or so when Scala 2.13.2 comes out — either the test will need to become more flexible, or you won't be able to upgrade. So I presume you'll do.... something.... if not now, then later... and then I can unfork in the community build.

Not checking the message, with a comment about why, seems like a reasonable solution to me.

[2020-01-22 20:34] fthomas commented on #718
Ok, will do that then. Thanks @SethTisue!

[2020-01-22 21:23] #718 closed

[2020-01-25 10:34] fthomas commented on #260
The self type is now gone in 0.9.12. If anyone observes this compiler crash with 0.9.12 or a newer version, please leave a comment here.

[2020-02-04 16:59] supermanue opened #729 "Mock not working?"
Hi,

I am having issues with mocking a service with Refined types. I don't really know whether if this depends on the Refined library, mocking  or what.

I have created a very simple class to demonstrate the issue. I am attaching 2 gists. Note that the first one works, and the second does not.

Besides this, I love the library, so thanks for that :)

Cheers,

Manuel

working: https://gist.github.c

[2020-02-07 03:24] sh0hei opened #731 "Add refined-scala-hedgehog"
cf. https://github.com/hedgehogqa/scala-hedgehog

[2020-02-11 15:56] ferhtaydn commented on #260
Hey, just saw it again with `0.9.12` and `scalaVersion := "2.12.10"`

[2020-02-13 10:43] bwiercinski opened #735 "use Equal[_] with case object"
I want to achieve:

[code]

and i get
[code]

when i changed to
[code]

i got

[code]

[2020-02-13 23:29] kubukoz commented on #735
I think we can generalize this issue to that refineMV and refined.auto don't handle singleton objects, just literal singleton types (at least that's what I think it is).

[2020-02-25 11:50] kubukoz commented on #735
In fact, it doesn't work on literal singleton types either, just inline literals :/

[2020-02-25 19:14] fthomas commented on #735
@kubukoz Could you provide an example? The example below works as expected and is not using an "inline literal".

[code]

[2020-02-25 19:32] fthomas commented on #735
@bwiercinski `refineV` works if the value you pass in is of type `Status`:
[code]

It will never work with `refineMV` because that macro needs to evaluate its value parameter at compile-time and that is only safe for literals. If the constructor of `Status.A` would contain side-effects, evaluating it at compile-time would be a bad idea.

[2020-02-25 20:35] kubukoz commented on #735
@fthomas but `Status.A` is a singleton object, its type is fully known at compile-time.

As for the literal singletons:

[code]

[2020-02-25 21:19] fthomas commented on #735
Yes, but `refineMV` requires the *value* at compile-time to decide if it satisfies the predicate. And it is not safe to evaluate `Status.A` at compile-time since this would execute its constructor.

[2020-02-25 21:42] kubukoz commented on #735
Could we inspect the type of `Status.A` and use the fact that it's a singleton?

I tried doing this myself but I'm not that familiar with the scala-reflect API and couldn't figure that out soon enough...

[2020-02-25 21:43] kubukoz commented on #735
Oh, I see. That would probably be impossible in the general case (some validations will really require an instance). `Equal` is fine, but it's a special case.

[2020-02-29 13:39] cquiroz opened #744 "Publish for scala.js 1.0"
Refined is required by several libraries downstream and in turn refined is waiting for shapless support for scala.js 1.0

[2020-02-29 21:52] #729 closed

[2020-03-01 19:33] fthomas commented on #744
Any help with this would be much appreciated!

[2020-03-01 21:07] cquiroz commented on #744
I'm trying to build but we are missing some dependencies

[2020-03-02 00:28] xuwei-k commented on #744
I think all dependencies published. shapeless published few hours ago.
https://github.com/milessabin/shapeless/pull/967#issuecomment-593135545
https://repo1.maven.org/maven2/com/chuusai/shapeless_sjs1_2.13/

[2020-03-02 07:40] fthomas commented on #744
I'm also okay with just publishing the core module for Scala.js 1.0.0. This should already unblock the most downstream dependencies.

[2020-03-02 18:57] cquiroz commented on #744
scalaz needs to be upgraded to suppor scala.js 1.0. I tried but it leads to non trivial code changes. Do you think it could be skipped?

[2020-03-02 19:37] fthomas commented on #744
Yes, I'm fine with not publishing the scalaz module for Scala.js 1.0.

[2020-03-05 06:56] fthomas commented on #744
refined 0.9.13 is now available for Scala.js 1.0.

Thanks @cquiroz for your help!

[2020-03-05 06:56] #744 closed

[2020-04-07 12:54] jgogstad commented on #260
Seeing this on 2.12.11, refined 0.9.12

[2020-04-08 18:12] erikerlandson opened #755 "RFE: A version of Inference[P, C] that fails for implicit chaining"
I could use a version of `Inference` that always fails to manifest. For example, the following inference "fails" but it doesn't fail to manifest, it just has a `false` value:
[code]
 This works for the casting in `InferMacro` and `autoInfer` but it's limited in how it can be used in chained implicits.

I could use an alternative that will fail like so:
[code]
Given the current design, I think that

[2020-04-09 12:34] fthomas commented on #755
`Inference` was designed before we had singleton-ops and the prospect of having them integrated into the compiler. The value-level `Boolean` field was an easy way to do something interesting in the `autoInfer` macro back then. Now that operations with singleton types are in Dotty, I agree that a better design would be if `Inference` only materializes if one predicate implies the other. Instead of

[2020-04-09 13:25] erikerlandson commented on #755
I went through a similar transition with coulomb.  Is migrating `==>` to a non-macro implementation something you'd prefer to #756?

[2020-04-09 16:26] erikerlandson commented on #755
overall, though, the number of places where `==>` rules are currently punting to the `isValid` field isn't that large.

[2020-04-14 19:16] fthomas commented on #735
You're right. But I wouldn't recommend changing `RefineMacro` for this since it is 2.13-only and I'm not sure if `RefineMacro` will survive the transition to Scala 3.

[2020-04-16 22:02] erikerlandson opened #762 "[discussion] eliminating macro dependency for `refineMV`"
moving this sub-discussion on #758 to its own topic for clarity

It seems like it could be possible for `refined` to go completely macro-less, if (for example) `refineMV[Positive](5)` was instead written as `refineMV[Positive, 5]`.

This would involve the compile-time `refineMV` leaning totally on singleton-ops, and expressions of the (pseudo)form `implicit valid: OpAuxBoolean[P[V], true]`.  In th

[2020-04-16 22:04] erikerlandson commented on #762
I'm interested in the possibility of somehow unifying run-time (`refineV`) with compile-time `refineMV`, via the `Validate` implicit system.  I am not sure if it's feasible.  Maybe it could be done by adding some kind of type `Pred[L]` to `Validate`, where one could compile-time test `OpAuxBoolean[Pred[L], true]` in the case of `refineMV`, and so compile-time and run-time tests are built-up in par

[2020-04-16 22:22] erikerlandson opened #763 "[discussion] remove shapeless.Nat support"
I don't know all the context or use cases for `shapeless.Nat` support in `refined` (or singleton-ops), but superficially the ability to write `TypeName[3]` makes something like `TypeName[shapeless.nat._3]` obsolete.

It has some implications for how `refined` currently works. For example the following compiles:
`refineV[Greater[_4]](5D)`
but this does not:
`refineV[Greater[4]](5D)`

It would proba

[2020-04-16 23:48] erikerlandson commented on #763
note the above implementation of `impliesGTGT` only makes sense if something like `Greater[N]` operates by converting both `N` and the argument to be tested into double, and doing the test in double space. There are legit arguments against that policy, but it is workable to do it.

[2020-04-17 13:52] erikerlandson commented on #762
Sad, `def foo[T <: Singleton](ce: T)` doesn't work on scala 2.12

[2020-05-01 18:42] jeffmay commented on #260
I'm seeing the following error on Jenkins with Scala 2.13.1 and Refined 0.9.14:

[code]

I'm not able to reproduce it locally on sbt, so I'm not sure how to simplify the code much, but here a sample of where it seems to be choking:

[code]

[2020-05-01 19:55] jeffmay commented on #260
Ok, update... it works after moving the `LogView.withKey` call outside of the string interpolation, however, this issue has been intermittent, so I'm not sure if it is fixed for good. I'll update this thread again if I see the issue come back.

[2020-05-01 20:43] jeffmay commented on #260
Another update: it is still broken 😢 Moving it out of the StringContext interpolation didn't help...

[code]

[2020-05-17 05:33] sergeda opened #776 "Validate runtime value?"
I have this code:

[code]
On last line I've got error "compile-time refinement only works with literals" at compile time.
Why is it so? As I understand refineV should work with runtime values?

[2020-05-19 05:49] fthomas commented on #776
`TrimmedNonEmpty` should be defined as `String Refined (NonEmpty And Trimmed)`. `NonEmptyString` is an alias for `String Refined NonEmpty`, so your type alias dealiases to `(String Refined NonEmpty) Refined Trimmed` and the library can't work with such types.

[2020-05-19 08:06] sergeda commented on #776
Thanks a lot

[2020-05-19 08:06] #776 closed

[2020-06-17 15:34] pacdaemon commented on #260
I just got one of those. I'm running Scala 2.12.11 and refined 0.9.14

[code]

[2020-07-07 21:46] kubukoz commented on #260
Seeing this on:
Refined 0.9.14
Scala 2.12.11
sbt 1.3.12 / bloop  1.4.3

[code]

On code like this:

[code]

[2020-07-13 19:32] fthomas commented on #260
@kubukoz Can you deterministically reproduce this with bloop?

[2020-07-13 19:46] kubukoz commented on #260
Not really deterministically, now everything is working fine... :(

[2020-07-21 23:09] kubukoz commented on #260
aaaaand I got it again, on a codebase that used to compile... is there some diagnostic I can take when this happens?

[2020-07-24 18:29] fthomas commented on #260
That's because some `Validate` instances are cached in `RefineMacro` (`Validate[Int, Positive]` is one of them) and are not reflectively evaluated at compile-time, see
https://github.com/fthomas/refined/blob/4fa9cbc7bc308d820f82e69d0f0ead7502d95f8d/modules/core/shared/src/main/scala/eu/timepit/refined/macros/RefineMacro.scala#L40-L89

For `Int Refined Even` [`eval`](https://github.com/fthomas/refi

[2020-08-05 09:06] Hjdskes opened #792 "The derived instance `Arbitrary[NonEmptyFiniteString[N]]` may generate an empty string"
Because `NonEmptyFiniteString[N]` is a `String Refined Size[Interval.Closed[_1, N]]` without a dedicated `Arbitrary[NonEmptyFiniteString[N]]` instance, for `Arbitrary[NonEmptyFiniteString[N]]` we end up in `stringSizeArbitrary` from `eu.timepit.refined.scalacheck.string`:

[code]

This function defers to `collection.buildableSizeArbitrary`:

[code]

The comment on this function already alludes to

[2020-08-05 09:39] fthomas commented on #792
This is bad. `buildableSizeArbitrary` is buggy if it does not create collections that conform to `Size[P]`. I understand that it doesn't work for `Set` and similar data types but it is strange that it can't always generate a `String` of the given size. I guess we need to add a `.suchThat(_.size == n.value)` to `buildableSizeArbitrary`.

[2020-08-05 09:40] Hjdskes commented on #792
Note that I am not sure we have actually seen this behaviour -- I just noticed it while I was browsing the implementation of things. I should have mentioned this in the initial issue.

[2020-08-05 11:07] Hjdskes commented on #792
This depends on the user of `buildableSizeArbitrary`. For `NonEmptyFiniteString[N]` we only need to verify that the string is not empty, i.e., we only need `.suchThat(_.nonEmpty)`. If we'd add `.suchThat(_.size == n.value)` for `NonEmptyFiniteString[N]` we would prevent the generation of strings with length between 1 and n-1 which would preclude a lot of valid values.

[2020-08-05 11:13] fthomas commented on #792
The `n` I was talking about comes from `arbSize: Arbitrary[Int Refined P]` parameter of `buildableSizeArbitrary` and is not the same as the upper bound `N` in `NonEmptyFiniteString[N]`:
https://github.com/fthomas/refined/blob/6fb4a4e45b2c103fea11472e9c3153349b89ae73/modules/scalacheck/shared/src/main/scala/eu/timepit/refined/scalacheck/collection.scala#L34-L35

[2020-08-13 12:52] jbenoit2011 opened #795 "Rfc1918ClassBPrivateSpec incorrect matches"
[Rfc1918ClassBPrivateSpec](https://github.com/fthomas/refined/blob/e64f11c6f4bcb322ceac76da4011c7e993838f5b/modules/core/shared/src/main/scala/eu/timepit/refined/types/net.scala#L79) matches IPs out of RFC range.
For example, `172.222.171.197` will match.
This is caused by a missing escaping backslash before the latest dot in the regex.
Actually, the regex is `^172\.(15|16|17|18|19|20|21|22|23|24|

[2020-08-13 13:10] fthomas commented on #795
Thanks for the report, @jbenoit2011! A PR would be very welcome.

[2020-08-13 16:28] fthomas commented on #792
I'm inclined to close this since I think that `buildableSizeArbitrary` will always generate a `String` of the requested size. I assume the [`comment on Gen.buildableOfN`](https://github.com/typelevel/scalacheck/blob/433b7a2d370f2136515d4d0b7893f6c612aefae8/src/main/scala/org/scalacheck/Gen.scala#L654-L663) that it may generate containers with fewer elements than requested only applies to `Set` and

[2020-08-14 05:19] #795 closed

[2020-08-14 07:04] jbenoit2011 commented on #702
IP adresses in Rfc5737 are **reserved** for documentation usage. Rfc6890 list address blocks for different purposes, except public routing, like benchmarking, documentation, private routing, ...

IMHO, address blocks not involved in private or public networks, if they come to be managed by this library, should be isolated in a separated object, something like `SpecificPurposesIpAddressBlocks`.

Bu

[2020-08-19 13:21] Hjdskes commented on #792
I think you may be right. We also have test case for `NonEmptyFiniteString` in `StringArbitrarySpec` that would (hopefully) fail otherwise.

[2020-09-02 17:13] fthomas commented on #792
OK, closing then.

[2020-09-02 17:13] #792 closed

[2020-09-25 12:19] fthomas commented on #569
Closing now because `InferJavapSpec` has been deleted in https://github.com/fthomas/refined/pull/815.

[2020-09-25 12:19] #569 closed

[2020-09-25 20:03] fthomas commented on #763
Using `Nat` as universal numeric predicate argument is indeed the only reason why it is still supported. It is nice that one definition of `Positive` can be used for all numeric types from `Byte` to `BigDecimal`.

This got me thinking how hard it would be to do this. It turned out not so much since the introduction of `WitnessAs` in https://github.com/fthomas/refined/pull/483. https://github.com/f

[2020-09-26 21:19] #624 closed

[2020-11-18 22:23] jonathan-neufeld-asurion commented on #260
I've noticed this fail sporadically with `String Refined MatchesRegex[W.`"""[\\w\\-]+:[\\w\\-]+"""`.T]`, the compiler error reported cites the call site, not the refinement definition.

[2020-12-04 18:55] kubukoz opened #883 ""compile-time refinement only works with literals" when a literal is used"
Hi!

I'm trying to make a `NonNegBigDecimal` at compile-time. The `auto._` import didn't work, so I tried it by hand:

[code]

but I get `"compile-time refinement only works with literals"`. I understand this might be because Scala has no literals for `BigDecimal`, but a case like this should probably be allowed.

[2020-12-07 17:47] Fristi opened #884 "Reduce amount of imports needed"
A while back I gave presentation about refined and I stumbled on the fact that you need a few imports to get going:

https://fristi.github.io/refined-deck/#5

For better ergonomics it would be great if we can reduce it

[2020-12-07 18:42] fthomas commented on #884
[code]
can be replaced with `import eu.timepit.refined.predicates.all._` and
[code]
can be replaced by `import eu.timepit.refined.types.all._`

[2020-12-17 13:20] Fristi commented on #884
Thanks, quite an improvement :)

[2020-12-17 13:20] #884 closed

[2021-01-05 17:59] tpolecat opened #895 "3.0.0-M3 release?"
Hi, it looks like the repo has been updated for 3.0.0-M3 but there hasn't been a release yet. Would it be possible to create one? Thanks!

[2021-01-05 18:31] fthomas commented on #895
Sure. I've just pushed the `v0.9.20` tag and if we're lucky the machines will publish this soon. :crossed_fingers:

[2021-01-05 19:14] fthomas commented on #895
0.9.20 is now published.

[2021-01-05 19:14] #895 closed

[2021-01-05 19:15] tpolecat commented on #895
And it works! Thanks!

[2021-03-05 13:48] matwojcik opened #917 "Combining boolean predicates"
I have some problem when playing with refines using boolean predicates.

[code]

which fails with

[code]

[code]

which fails with

[code]

I'm not sure if this is limitation of scala as a language or is there some possibility for that to work?

[2021-03-05 15:07] matwojcik commented on #917
This does not resolve the issue I described, but pretty much resolves the initial issue I had - is there any way to imply that if a `String` is a `ValidLong` then it must be `NonEmpty` by the long definition?

[2021-03-05 23:09] kubukoz commented on #917
Looks like an `Inference` (https://github.com/fthomas/refined/blob/b9b027b4f3a42409b656a2331bfccdff1c922751/modules/core/shared/src/main/scala/eu/timepit/refined/api/Inference.scala) instance is missing for `A and B` ==> `A` / `A and B` ==> `B` 🤔

[2021-03-06 11:45] matwojcik commented on #917
@kubukoz nice! Is this mechanism also a good fit for `ValidLong ==> NonEmptyString` so my original issue, which lead me to this?

[2021-03-06 13:06] kubukoz commented on #917
I think so. :)

[2021-03-25 13:08] jmcclell opened #932 "Autounwrap not working with Scala 3.0.0-RC1"
The following code compiles and works as expected on Scala `2.13.x`, but fails on `3.0.0-RC1`:

[code]

This is the case for all other refined types I've tried, as well.

[2021-03-29 19:26] tpolecat commented on #260
I just saw this again, fwiw. Restarted sbt and it compiled fine. Confidence high! Maybe it will stop doing this in Scala 3 ;-)

[2021-03-29 19:37] fthomas commented on #260
Yes, it won't happen with Scala 3 because that macro cannot be ported! :-)

[2021-04-05 23:36] jmcclell commented on #932
I see this work is currently being experimented with in #921

[2021-04-08 10:37] jonathanfrawley opened #941 "Compile-time refinement of lists?"
Hi,

I am trying to use refined to do compile time refinement of lists / sequences. The following code:

    val e : List[Int] Refined NonEmpty = List(1,2,3)

gives the following error:

    compile-time refinement only works with literals

I thought the above was a literal so I am confused about why this doesn't work.

Thanks,
Jonathan

[2021-04-09 19:39] fthomas commented on #731
I'm closing this because I currently don't have enough free time to maintain another integration module in this repo.

[2021-04-09 19:39] #731 closed

[2021-04-09 19:40] fthomas commented on #389
I'm closing this because I currently don't have enough free time to maintain another integration module in this repo.

[2021-04-09 19:40] #389 closed

[2021-04-09 19:40] fthomas commented on #341
I'm closing this because I currently don't have enough free time to maintain another integration module in this repo.

[2021-04-09 19:40] #341 closed

[2021-04-09 19:40] fthomas commented on #308
I'm closing this because I currently don't have enough free time to maintain another integration module in this repo.

[2021-04-09 19:40] #308 closed

[2021-04-09 19:42] #169 closed

[2021-04-09 19:42] #168 closed

[2021-04-12 05:58] fthomas commented on #941
@jonathanfrawley Here is an older [comment](https://github.com/fthomas/refined/issues/319#issuecomment-324743923) that explains that compile-time refinements only works with [literals as defined by the Scala language specification](https://www.scala-lang.org/files/archive/spec/2.11/01-lexical-syntax.html#literals). `List(1, 2, ,3)` is actually a method call of the [List.apply](https://www.scala-la

[2021-04-12 12:16] jonathanfrawley commented on #941
Thanks for the reply @fthomas. I thought as much. Is it a huge job to add support for this? I am happy to contribute some time to investigate, but if you think it is a huge task then I won't bother.

[2021-05-05 21:18] note commented on #932
I took a look at what it would take to migrate macros to Scala 3.

The biggest issue is stumbled upon is lack of equivalent of `Evals.eval` in Scala 3. `eval` is used [here](https://github.com/fthomas/refined/blob/master/modules/core/shared/src/main/scala-3.0-/eu/timepit/refined/macros/MacroUtils.scala#L22) in refined. On this [page](https://scalacenter.github.io/scala-3-migration-guide/docs/macro

[2021-05-19 16:07] fthomas commented on #917
Fixed by #927.

[2021-05-19 16:07] #917 closed

[2021-05-28 03:15] qwbarch opened #977 "Alphanumeric type is not declared infix"
When using refined with Scala 3, the compiler complains about types not being declared as infix. For example:
[code]
This will cause the compiler to complain:
[code]

[2021-06-11 07:20] fthomas commented on #977
I think I would accept a PR that adds the `infix` declaration to https://github.com/fthomas/refined/blob/master/modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/api/Refined.scala. Does the compiler also complain if `Refined` is declared `infix` but you write `Refined[...]`?

[2021-06-11 07:30] qwbarch commented on #977
Nope, the compiler doesn't complain when writing it as ``Refined[A, B]``.
I'll submit a PR probably tomorrow 👍

[2021-06-12 04:48] #977 closed

[2021-06-22 00:03] lenguyen89 opened #988 "type mismatch with function argument"
Hi, is it possible to do something like this?

[code]

right now, I'm getting this error

[code]

[2021-06-22 21:00] lenguyen89 commented on #988
Actually, I was just missing this import
import eu.timepit.refined.auto._

It works after that

[2021-06-22 21:00] #988 closed

[2021-07-08 09:35] lewapek opened #990 "Inconsistency between 0.9.25 and 0.9.26 versions - possible regression"
Hey,
it seems that there is inconsistency between 0.9.25 and 0.9.26 versions of the library
Below you can find code snippet showing that with versions <= 0.9.25 `Concrete` type could be passed to function which expects `Base`
With 0.9.26 it's not possible (compilation error)
Is that intentional?

[code]

Full code snippet ready to compile can be found here (https://gist.github.com/lewapek/3cbf003a

[2021-07-08 11:21] fthomas commented on #990
https://github.com/fthomas/refined/pull/927 by @matwojcik was the only change in 0.9.26 that was not a version bump. Maybe this issue is related to that change.

[2021-07-09 16:50] matwojcik commented on #990
Indeed something got broken during implicits resolution, because the Refinement @lewapek created were pretty complex (nested Ands, Ors). I've moved my instances to lower level implicits and it seem to help, see #994.

[2021-07-12 06:28] lewapek commented on #990
Thanks @matwojcik

[2021-07-19 00:48] thiloplanz commented on #990
We are also suffering from this regression.

Is the patch from #994 working? If so, can we get this released?

[2021-07-19 08:32] #990 closed

[2021-11-29 23:55] LukaJCB opened #1038 "refined-cats is not published for Scala 3.x"
first noticed here: https://github.com/tpolecat/skunk/pull/581

Is there something missing or is this just an oversight?

[2021-11-30 01:56] fthomas commented on #1038
I just tried to enable it in #1040 but the tests in the cats module do not compile with Scala 3.

[2021-11-30 02:28] fthomas commented on #1038
Ok, I fixed the tests and triggered publishing 0.9.28. refined-cats 0.9.28 for Scala 3 should be available soon.

[2021-11-30 02:32] LukaJCB commented on #1038
Sweet, thank you so much @fthomas!

[2021-11-30 17:21] #1038 closed

[2021-12-30 18:42] Alfhir opened #1056 "Broken link in README"
Could not reach https://tech.autoscout24.com/blog/
New address is likely http://techblog.scout24.com/

[2022-01-10 11:58] ThijsBroersen commented on #260
I am experiencing this same issue (Scala 2.13.7, jdk17) very randomly and rarely. Is there any other mitigation than compile twice?

[2022-01-11 07:43] fthomas commented on #260
It seems that disabling parallel compilation might help, see https://github.com/scala/bug/issues/10682#issuecomment-1005130476 and https://github.com/gemini-hlsw/lucuma-core/pull/449. The easier fix is to change compile-time checks of literals to runtime checks. This will also make it easier to port code to Scala 3, since the compile-time checks cannot be ported to Scala 3.

[2022-01-12 12:32] julienrf opened #1060 "Versioning scheme is not declared"
This is more a discussion than an issue, I would like to know what is the versioning scheme used by the library. For the record, I recommend declaring it in the [build definition](https://www.scala-sbt.org/1.x/docs/Publishing.html#Version+scheme), and I recommend using [Early SemVer](https://docs.scala-lang.org/overviews/core/binary-compatibility-for-library-authors.html#recommended-versioning-sch

[2022-03-16 10:50] aurrelhebert opened #1075 "OpenAPI with Refined Strings"
Hi,
   I am currently trying to build an API with some refined field (which are strings) and I would to extract if possible a "regExp" pattern directly from the refined type? Is-it something that is possible?

  For example, in my code I declare a type as:

[code]

  And I would like to generate the OpenAPI spec as, what I would be interested in would be to automatically generate the `pattern` fie

[2022-04-04 07:49] aurrelhebert opened #1080 "Chaining refined string operation"
## Context

Hi, I would like to use `REFINED` to validate some custom input string I have. For some of the string, I would like to chain existing refined string operation as `start_with` and `uuid`.

## Exemple

The input string I have looks like `random_VALID_UUID`. At the moment I write a custom refined type as:

[code]

Is it the best approach to do it? Can I do it in a more generic way (chaini

[2022-05-05 22:58] mprevel commented on #932
Hi,

Is the issue still there ?
I am trying to migrate a scala 2.13 project to scala 3 and refinements with refined.auto._ are not working anymore.
Is there another way to do it ?
It also seems that refineMV has been removed. If so it would be nice to add this limitation in the docs.

[2022-05-06 06:32] jan0sch commented on #932
Still no solution I am aware of.

For test code you could circumvent it via `val x = MyType.unsafeFrom(...)` instead of `val x: MyType = ...` but I wouldn't recommend it for production code.

Some things can be done via opaque types but that re-involves a lot of boilerplate.

[2022-05-16 13:30] armanbilge commented on #932
@kordyjan following up on the generous offer from your [tweet](https://twitter.com/Kordyjan/status/1524317031360778240), would greatly appreciate @virtuslab support in this effort! :)

[2022-05-16 15:15] armanbilge commented on #932
So I experimented with the encoding from https://github.com/fthomas/refined/pull/921 in https://github.com/armanbilge/lucuma-core/pull/1 and it seems to work for the simple case there.

@note, can you expand on your comment in https://github.com/fthomas/refined/issues/932#issuecomment-833013736?

Why is this the case? Since `Predicate` is an implicit, can't users just implement custom instances fo

[2022-05-17 22:02] note commented on #932
Hi @armanbilge,

In https://github.com/fthomas/refined/pull/959 I tried to stay in realm of `Validate` and I didn't introduce `Predicate`. It was an experiment and if it worked out out it would have an advantage that all other machinery relying on `Validate` would work out of the box.

I am writing of top of my head, probably @fthomas is the best person to ask about it, but from my analysis a mont

[2022-05-17 22:48] armanbilge commented on #932
@note is this what you are looking for?
[code]

[2022-05-22 04:03] adampauls opened #1090 "Publish for Scala native?"
I don't see a Scala native binary on Maven since 0.9.12 (before Scala 3). I see there is still native support in build.sbt; is it broken for some reason, or perhaps it's simply not been published? I'm trying to get native support for circe: https://github.com/circe/circe/pull/1929.

[2022-06-08 13:39] armanbilge commented on #932
Polite bump on this :) if folks are happy with this `Predicate` strategy I can work on a PR.

[2022-06-08 18:06] crispywalrus opened #1092 "Pureconfig not published for scala3"
Pureconfig publishes a scala 3 artifact but refined-pureconfig isn't published.

[2022-06-22 21:03] armanbilge commented on #932
I see some 👍 so FYI I've begun assembling some predicates here on an as-needed basis:
https://github.com/gemini-hlsw/lucuma-refined

The goal is that all of that can eventually be upstreamed.

[2022-06-23 05:43] fthomas commented on #932
I should mention that I used the `Predicate` encoding in my experiment because it is much simpler than `Validate` which is current building block in refined. The idea was that if the `refineMV` macro can be implemented with `Predicate`, to try to the current `Validate` encoding next.

[2022-06-23 05:49] armanbilge commented on #932
Aha, that's a very helpful pointer. Thanks!

At a glance it seems like `Validate` probably cannot be used as-is, since it lacks the necessary `inline` modifiers. But I guess the main idea is to mirror its more complete API :)

[2022-07-02 08:16] fthomas commented on #1092
I'd like to keep this open until refined-pureconfig is published for Scala 3.

[2022-07-02 13:11] fthomas commented on #1090
Support for Scala Native has been dropped in https://github.com/fthomas/refined/pull/740 because it was abandoned at that time. I'd merge a PR that brings support for it back to refined.

[2022-07-06 17:01] #1090 closed

[2022-09-18 07:32] brunierterry commented on #932
@jmcclell
It won't directly solve your problem, but the following might help some people with a similar need, which doesn't require the full power of `Refined`.

In some cases, you can replace a macro with an elegant use of `inline`.
Instead of using `Refined` lib, you can create opaque types that restrain the domain of a type.

For your example of positive Int:
[code]
Bonus: IDE like IntelliJ wil

[2022-10-26 09:41] longliveenduro commented on #932
As I am working with Scala 3.2 currently, it would be very nice if the caveats for Scala 3 would make it in the main Readme.

[2022-10-30 07:36] DmytroMitin commented on #932
@note

Actually there is kind of eval in Scala 3. There is eval from source code to value. Regarding eval from a tree to value it exists but the code expanding macros should be compiled with a patched compiler.
https://github.com/DmytroMitin/dotty-patched

[2022-11-08 09:40] longliveenduro opened #1130 "Scala 3.2: Comparing NonNegInt with Int gives a compile error"
If I make an equal comparison on a NonNegInt with Int I get a compile error:

[code]
gives:

Values of types eu.timepit.refined.types.numeric.NonNegInt and Int cannot be compared with == or !=

[2022-11-22 00:11] erikerlandson commented on #932
Getting `refineMV` working in scala3 would also make the integration with `coulomb` nicer, but primarily I want it for unit testing, and I'm sure I can work around it.
https://github.com/erikerlandson/coulomb/pull/392

[2022-11-22 00:13] erikerlandson commented on #932
xref, I proposed pushing the literals into the types, since this is quite clean in scala3:
https://github.com/fthomas/refined/issues/762

to wit:  instead of `refineMV[Positive](1)` one could write `refineMV[Positive, 1]`

[2022-11-24 10:38] strokyl commented on #1075
I have contributed something similar to tapir, see:
https://github.com/softwaremill/tapir/pull/405/files

[2022-11-27 16:32] erikerlandson commented on #932
+1 for @armanbilge  inline / `Predicate` concept

[2022-11-30 14:21] strokyl commented on #1075
I am not a maintainer of this library, but I don't think we should put OpenAPI logics inside it, this does not seem a good place for that.

[2022-11-30 15:41] aurrelhebert commented on #1075
Agreed as the available method enable us to define our logic as shown in your code. However maybe, a way to get a human description of a predicate/validator could be interesting.

[2022-11-30 15:41] #1075 closed